HOST: http://arc.nick-q.mtvi.com/api

--- Nick App API v1 ---
---
##All feeds require the apiKey query parameter, contact Robert.Ruffler@viacom.com to request a key for your application.

All feeds should be requested with query params to identify device, os version and app version. Details TBD.

Any feed / field marked as WIP subject to change.
---

--
Configuration
Global configuration for this application.

##Query Parameters

-   **apiKey** - unique apiKey for this application

##Response
List of key/value pairs specific to this application

-   **baseImageUrl** - base url for any image assets
-   **starsFeedUrlKey** - url key to use for categories feed
-   **homePageUrlKey** - url key to use for editorial content collection (featured)
-   **mysteryContentUrlKey** - url key to use for editorial content collection (mystery content)
-   **seriesWithEpisodesUrlKey** - url key to use for category episodes hub feed
-   **menuPromoUrlKey** - url key to use for menu promo
-   **faqUrlKey** - url key to use for FAQ article
-   **termsOfUseUrlKey** - url key to use for Terms of Use article
-   **privacyPolicyUrlKey** - url key to use for Privacy Policy article
-   **pollTallyUrlTemplate** - url template to retrieve poll results
-   **pollSubmissionUrlTemplate** - url template to submit poll
-   **videoMGIDTemplate** - template for VMNPlayer video MGIDs
-   **playlistMGIDTemplate** - template for VMNPlayer playlist MGIDs
-   **episodeMGIDTemplate** - template for VMNPlayer episode MGIDs
-   **gameUrlTemplate** - url template for flash games
-   **mediaGenUrlTemplate** - url template for media gen feed

--

GET /configuration
< 200
< Content-Type: application/json
{
    "seriesWithEpisodesUrlKey": "ios-full-episode-hub",
    "videoMGIDTemplate": "mgid:arc:video:nick.com:{videoId}",
    "faqUrlKey": "ios-app-faq",
    "baseImageUrl": "http://nick.mtvnimages.com",
    "termsOfUseUrlKey": "ios-app-terms-of-use",
    "pollTallyUrlTemplate": "http://funnel.mtvnservices.com/api/v2/nick.com/collections/{collectionAlias}/tallies.json",
    "pollSubmissionUrlTemplate": "http://funnel.mtvnservices.com/api/v2/nick.com/collections/{collectionAlias}/entries.json",
    "mysteryContentUrlKey": "ios-mystery-content",
    "menuPromoUrlKey": "ios-menu-promo",
    "gameUrlTemplate": "http://www.nick.com/games/{gameUrlKey}?apiKey={apiKey}",
    "homePageUrlKey": "ios-ipad-home-grid",
    "playlistMGIDTemplate": "mgid:arc:playlist:nick.com:{playlistId}",
    "episodeMGIDTemplate": "mgid:arc:episode:nick.com:{playlistId}",
    "starsFeedUrlKey": "ios-star-feed",
    "privacyPolicyUrlKey": "ios-app-privacy-policy"
}


--
Categories
List of "categories" (people/series) that content is grouped by

##Query Parameters

-   **urlKey** - url key of category list

##Response

-   **id** - unique identifier for this category
-   **urlKey** - unique identifier for this category
-   **type** - (person|series) type for this category
-   **title** - name of this category
-   **description** - description of this category
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **twitterHandle** - Twitter handle for this category
-   **supportingCast** - list of supporting cast members for this category
    -   **id** - unique identifier for this supporting cast member
    -   **urlKey** - unique identifier for this supporting cast member
    -   **type** - (person|series) disambiguation between items that represent stars vs series
    -   **title** - name of this supporting cast member
    -   **description** - description of this supporting cast member
    -   **images** - list of images for this item
        -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
        -   **assets** - list of assets for this image in varying aspect ratios
            -   **path** - path to this image
            -   **aspectRatio** - aspect ratio of this image
            -   **width** - width of this image in pixels
            -   **height** - height of this image in pixels
    -   **seriesUrlKey** - url key for the series this item is related to
    -   **seriesTitle** - title of the series this item is related to
    -   **twitterHandle** - Twitter handle for this supporting cast member
-   **theme** - **NOTE:** platform specific, properties may vary
    -   **accent-color-1** - accent color for this star
    -   **theme-background** - background image for this star
        -   **assets** - list of assets for this image in varying aspect ratios
            -   **path** - path to this image
            -   **aspectRatio** - aspect ratio of this image
            -   **width** - width of this image in pixels
            -   **height** - height of this image in pixels
-   **options**
    -   **hasGames** - flag indicating if this star/series has games available (defaults to true if unset)
--

GET /categories?urlKey=ios-star-feed
< 200
< Content-Type: application/json
[
    {
        "id": "f1d56f00-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "miranda-cosgrove",
        "type": "Person",
        "title": "Miranda Cosgrove",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/miranda-cosgrove/star-miranda-tall.png",
                        "width": "736",
                        "height": "1504"
                    },
                    {
                        "path": "/nick/app/iOS/stars/grid/miranda-cosgrove/star-miranda-short.png",
                        "aspectRatio": "1x1",
                        "width": "696",
                        "height": "696"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/miranda-cosgrove/star-miranda-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "iCarly",
        "seriesUrlKey": "hs_icarly",
        "seriesTitle": "iCarly",
        "supportingCast": [
            {
                "id": "f1d571ee-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "jennette-mccurdy",
                "type": "Person",
                "title": "Jennette McCurdy",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/jennette-mccurdy/star-jennette-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/jennette-mccurdy/star-jennette-tweets.jpg",
                                "aspectRatio": "1x1",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "iCarly",
                "seriesUrlKey": "hs_icarly",
                "seriesTitle": "iCarly",
                "twitterHandle": "JennetteMcCurdy"
            },
            {
                "id": "f1d5a7f4-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "jerry-trainor",
                "type": "Person",
                "title": "Jerry Trainor",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/jerry-trainor/star-jerry-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/jerry-trainor/star-jerry-tweets.jpg",
                                "aspectRatio": "1x1",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "iCarly",
                "seriesUrlKey": "hs_icarly",
                "seriesTitle": "iCarly",
                "twitterHandle": "Jerrytrainor"
            },
            {
                "id": "f1d5cf9a-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "noah-munck",
                "type": "Person",
                "title": "Noah Munck",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/star-noah-munck-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/star-noah-munck-tweets.jpg",
                                "aspectRatio": "1x1",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "iCarly",
                "seriesUrlKey": "hs_icarly",
                "seriesTitle": "iCarly",
                "twitterHandle": "NoahMunck"
            },
            {
                "id": "f1d5a4ca-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "nathan-kress",
                "type": "Person",
                "title": "Nathan Kress",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/star-nathan-kress-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/star-natha-kress-tweets.jpg",
                                "aspectRatio": "1x1",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "iCarly",
                "seriesUrlKey": "hs_icarly",
                "seriesTitle": "iCarly",
                "twitterHandle": "NathanKress"
            }
        ],
        "twitterHandle": "MirandaCosgrove"
    },
    {
        "id": "cba6b7aa-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs-spongebob",
        "type": "series",
        "title": "SpongeBob",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/spongebob-squarepants/star-spongebob-square.png",
                        "aspectRatio": "1x1",
                        "width": "736",
                        "height": "736"
                    }
                ]
            }
        ],
        "description": "SpongeBob Squarepants",
        "seriesTitle": "SpongeBob SquarePants"
    },
    {
        "id": "f1d574c8-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "victoria-justice",
        "type": "Person",
        "title": "Victoria Justice",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/victoria-justice/star-victoria-short.png",
                        "aspectRatio": "1x1",
                        "width": "696",
                        "height": "696"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/victoria-justice/star-vitoria-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "Victorious",
        "seriesUrlKey": "hs_victorious",
        "seriesTitle": "Victorious",
        "supportingCast": [
            {
                "id": "f1d5b30c-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "ariana-grande",
                "type": "Person",
                "title": "Ariana Grande",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/ariana-grande/stars-ariana-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/ariana-grande/stars-ariana-tweets.jpg",
                                "aspectRatio": "16x9",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "Victorious",
                "seriesUrlKey": "hs_victorious",
                "seriesTitle": "Victorious",
                "twitterHandle": "ArianaGrande"
            },
            {
                "id": "f1d5aaec-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "liz-gillies",
                "type": "Person",
                "title": "Liz Gillies",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/liz-gillies/stars-liz-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/liz-gillies/stars-liz-tweets.jpg",
                                "aspectRatio": "1x1",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "Victorious",
                "seriesUrlKey": "hs_victorious",
                "seriesTitle": "Victorious",
                "twitterHandle": "LizGillies"
            },
            {
                "id": "f1d5c6d0-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "avan-jogia",
                "type": "Person",
                "title": "Avan Jogia",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/avan-jogia/stars-avan-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/avan-jogia/stars-avan-tweets.jpg",
                                "aspectRatio": "1x1",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "Victorious",
                "seriesUrlKey": "hs_victorious",
                "seriesTitle": "Victorious",
                "twitterHandle": "ATJogia"
            },
            {
                "id": "f1d5c9aa-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "daniella-monet",
                "type": "Person",
                "title": "Daniella Monet",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/daniella-monet/stars-daniella-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/daniella-monet/stars-daniella-tweets.jpg",
                                "aspectRatio": "1x1",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "Victorious",
                "seriesUrlKey": "hs_victorious",
                "seriesTitle": "Victorious",
                "twitterHandle": "DaniellaMonet"
            },
            {
                "id": "f1d5b154-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "matt-bennett",
                "type": "Person",
                "title": "Matt Bennett",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/matt-bennett/stars-matt-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/matt-bennett/stars-matt-tweets.jpg",
                                "aspectRatio": "1x1",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "Victorious",
                "seriesUrlKey": "hs_victorious",
                "seriesTitle": "Victorious",
                "twitterHandle": "MattBennett"
            },
            {
                "id": "f1d5adc6-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "leon-thomas",
                "type": "Person",
                "title": "Leon Thomas",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/leon-thomas/stars-leon-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/leon-thomas/stars-leon-tweets.jpg",
                                "aspectRatio": "1x1",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "Victorious",
                "seriesUrlKey": "hs_victorious",
                "seriesTitle": "Victorious",
                "twitterHandle": "LeonThomas3"
            }
        ],
        "twitterHandle": "VictoriaJustice"
    },
    {
        "id": "c7740134-1ad7-11e1-aca6-0026b9414f30",
        "urlKey": "ninja-turtles",
        "type": "series",
        "title": "Leonardo",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/teenage-mutant-ninja-turtles/star-leo-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/teenage-mutant-ninja-turtles/star-leo-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "Teenage Mutant Ninja Turtles",
        "seriesTitle": "Teenage Mutant Ninja Turtles"
    },
    {
        "id": "f1d57d60-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "kendall-schmidt",
        "type": "Person",
        "title": "Kendall Schmidt",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/kendall-schimdt/star-kendall-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/kendall-schimdt/star-kendall-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "seriesUrlKey": "hs_bigtimerush",
        "seriesTitle": "Big Time Rush",
        "twitterHandle": "HeffronDrive"
    },
    {
        "id": "f1d57a4a-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "james-maslow",
        "type": "Person",
        "title": "James Maslow",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/james-maslow/star-james-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/james-maslow/star-james-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "seriesUrlKey": "hs_bigtimerush",
        "seriesTitle": "Big Time Rush",
        "twitterHandle": "JamesMaslow"
    },
    {
        "id": "f1d5804e-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "logan-henderson",
        "type": "Person",
        "title": "Logan Henderson",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/logan-henderson/star-logan-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/logan-henderson/star-logan-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "seriesUrlKey": "hs_bigtimerush",
        "seriesTitle": "Big Time Rush",
        "twitterHandle": "1LoganHenderson"
    },
    {
        "id": "f1d57784-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "carlos-pena",
        "type": "Person",
        "title": "Carlos Pena",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/carlos-pena/star-carlos-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/carlos-pena/star-carlos-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "seriesUrlKey": "hs_bigtimerush",
        "seriesTitle": "Big Time Rush",
        "twitterHandle": "TheCarlosPena"
    },
    {
        "id": "f1d6ad98-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "ryan-potter",
        "type": "Person",
        "title": "Ryan Potter",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/star-ryan-potter-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/star-ryan-potter-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "Supah Ninjas",
        "seriesUrlKey": "hs_supah_ninjas",
        "seriesTitle": "Supah Ninjas",
        "supportingCast": [
            {
                "id": "f1d6ac1c-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "gracie-dzienny",
                "type": "Person",
                "title": "Gracie Dzienny",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/star-gracie-dzienny-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/star-gracie-dzienny-tweets.jpg",
                                "aspectRatio": "1x1",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "Supah Ninjas",
                "seriesUrlKey": "hs_supah_ninjas",
                "seriesTitle": "Supah Ninjas",
                "twitterHandle": "gdzienny"
            },
            {
                "id": "f1d6b05e-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "carlos-knight",
                "type": "Person",
                "title": "Carlos Knight",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/star-carlos-knight-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    },
                    {
                        "type": "Twitter",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/star-carlos-knight-tweets.jpg",
                                "aspectRatio": "1x1",
                                "width": "312",
                                "height": "312"
                            }
                        ]
                    }
                ],
                "description": "Supah Ninjas",
                "seriesUrlKey": "hs_supah_ninjas",
                "seriesTitle": "Supah Ninjas",
                "twitterHandle": "carloskknight"
            }
        ],
        "twitterHandle": "RyankPotter"
    },
    {
        "id": "23e4ccea-cda9-11e0-aca6-0026b9414f30",
        "urlKey": "kung-fu-panda-legends-of-awesomeness",
        "type": "series",
        "title": "Po",
        "images": [
            {
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/carousel/star-po.png",
                        "width": "810",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "Kung Fu Panda: Legends of Awesomeness",
        "seriesTitle": "Kung Fu Panda: Legends of Awesomeness"
    },
    {
        "id": "cb773e58-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs_winx_club",
        "type": "series",
        "title": "Bloom",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/winx-club/stars-winx-short.png",
                        "aspectRatio": "1x1",
                        "width": "736",
                        "height": "736"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/winx-club/stars-winx-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "Winx Club",
        "seriesTitle": "Winx Club"
    },
    {
        "id": "cb81db06-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs_pr_samurai",
        "type": "series",
        "title": "The Red Ranger",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/power-rangers/stars-red-ranger-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/power-rangers/stars-red-ranger-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "Power Rangers: Super Samurai",
        "seriesTitle": "Power Rangers: Super Samurai"
    },
    {
        "id": "101534f6-13e5-11e2-8969-0026b9414f30",
        "urlKey": "lucas-cruikshank",
        "type": "Person",
        "title": "Lucas Cruikshank",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/lucas-cruikshank/stars-lucas-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/lucas-cruikshank/stars-lucas-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "Marvin Marvin"
    },
    {
        "id": "cb937a32-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs_penguins",
        "type": "series",
        "title": "Skipper",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/penguins-of-madagascar/stars-skipper-short.png",
                        "aspectRatio": "1x1",
                        "width": "736",
                        "height": "736"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/penguins-of-madagascar/stars-skipper-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "Penguins of Madagascar",
        "seriesTitle": "The Penguins of Madagascar"
    },
    {
        "id": "9a5419c5-f28b-45d2-a042-770024dd74f6",
        "urlKey": "robotmonster",
        "type": "series",
        "title": "Monster",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/robot-and-monster/stars-monster-short.png",
                        "aspectRatio": "1x1",
                        "width": "736",
                        "height": "736"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/robot-and-monster/stars-monster-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "Robot & Monster",
        "seriesTitle": "Robot & Monster"
    },
    {
        "id": "cb93d842-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs_fop",
        "type": "series",
        "title": "Timmy",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/timmy-turner/star-timmy-turner-short.png",
                        "aspectRatio": "1x1",
                        "width": "736",
                        "height": "736"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/timmy-turner/star-timmy-turner-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "My Fairly OddParents",
        "seriesTitle": "The Fairly OddParents"
    },
    {
        "id": "70d13aa7-a589-4c19-8ed5-f4cfa84b65af",
        "urlKey": "legend-of-korra",
        "type": "series",
        "title": "Korra",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/legend-of-korra/star-korra-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/legend-of-korra/star-korra-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "Legend of Korra",
        "seriesTitle": "Legend of Korra"
    },
    {
        "id": "65d32050-1152-43d2-8f42-ab5d22025d98",
        "urlKey": "burkely-duffield",
        "type": "Person",
        "title": "Burkely Duffield",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/star-burkely-duffield-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            },
            {
                "type": "Twitter",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/star-burkely-duffield-tweets.jpg",
                        "aspectRatio": "1x1",
                        "width": "312",
                        "height": "312"
                    }
                ]
            }
        ],
        "description": "House of Anubis",
        "seriesUrlKey": "hs_anubis_V2",
        "seriesTitle": "House of Anubis"
    }
]


--
Categories - Episodes Hub
List of "categories" (series) that episode content is grouped by, will eventually use standard categories feed with different parameter

##Query Parameters

-   **urlKey** - url key of star list

##Response

-   **id** - unique identifier for this star
-   **urlKey** - unique identifier for this star
-   **type** - (person|series) disambiguation between items that represent stars vs series
-   **title** - name of this star
-   **description** - description of this star
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **theme**
    -   **accent-color-1** - accent color for this star
    -   **theme-background** - background image for this star
        -   **assets** - list of assets for this image in varying aspect ratios
            -   **path** - path to this image
            -   **aspectRatio** - aspect ratio of this image
            -   **width** - width of this image in pixels
            -   **height** - height of this image in pixels
-   **templateType** - flag to indicate type of episode listing screen (Content:Dynamic | Content:Editorial)
-   **editorialUrlKey** - urlKey to pass into the Editorial Content Collection feed where needed
--


GET /category-episodes-hub?urlKey=ios-full-episode-hub
< 200
< Content-Type: application/json
[
    {
        "id": "cb92f67a-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs_icarly",
        "type": "series",
        "title": "iCarly",
        "shortTitle": "iCarly",
        "images": [
            {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/iCarly/header-graphic-icarly.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            {
                "type": "Featured",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/iCarly/show-cover-icarly.jpg",
                        "aspectRatio": "1x1",
                        "width": "544",
                        "height": "544"
                    }
                ]
            }
        ],
        "description": "Carly Shay led a pretty normal life...until she and her friends started their own web show. When \"iCarly\" becomes an instant hit, Carly and her pals have to balance their newfound success with the problems of everyday life. With her parents overseas, Carly relies on the help of her best friend/co-star, Sam, her longtime pal/technical producer, Freddie, and her eccentric older brother/guardian, Spencer, to keep it all together. Sam and Freddie's constant bickering and Spencer's odd habits make for a lot of good material...but is it enough to fill a new show every week?",
        "seriesUrlKey": "hs_icarly",
        "seriesTitle": "iCarly",
        "datePosted": "2009-06-15T17:03:23.000+0000",
        "theme": {
            "ThemeLogoImage": {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/iCarly/header-graphic-icarly.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            "BackgroundColor": "00b4e1",
            "BackgroundColor2": "97feb6"
        },
        "templateType": "Content:Dynamic"
    },
    {
        "id": "cba6b7aa-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs-spongebob",
        "type": "series",
        "title": "SpongeBob SquarePants",
        "shortTitle": "SpongeBob SquarePants",
        "images": [
            {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/spongebob-squarepants/header-graphic-spongebob.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            {
                "type": "Featured",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/spongebob-squarepants/show-cover-spongebob.jpg",
                        "aspectRatio": "1x1",
                        "width": "544",
                        "height": "544"
                    }
                ]
            }
        ],
        "description": "A fun show about a pant wearing sea sponge that constantly gets himself into wacky predicaments",
        "seriesUrlKey": "hs-spongebob",
        "seriesTitle": "SpongeBob SquarePants",
        "datePosted": "2009-06-09T18:08:53.000+0000",
        "templateType": "Content:Dynamic"
    },
    {
        "id": "cb9962bc-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs_victorious",
        "type": "series",
        "title": "Victorious",
        "shortTitle": "Victorious",
        "images": [
            {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/victorious/header-graphic-victorious.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            {
                "type": "Featured",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/victorious/show-cover-victorious.jpg",
                        "aspectRatio": "1x1",
                        "width": "544",
                        "height": "544"
                    }
                ]
            }
        ],
        "description": "Chaos is coming to Tori Vega's life. The 16 year old is starting at a new high school; but not just any school. This is Hollywood Arts, a performing arts school where crazy talented students learn how to become real artists.. Until now, Tori didn't think she had much talent of her own, and was content to live in the shadow of her older sister, Trina. Now, that's all about to change... if Tori can see herself in a new light, even a spotlight! But Hollywood Arts is still a high school, and Tori is still the new kid. She'll have to find new friends, do homework, and just try to fit in. Will Tori grab a starring role in her new life?",
        "seriesUrlKey": "hs_victorious",
        "seriesTitle": "Victorious",
        "datePosted": "2009-12-08T15:48:51.000+0000",
        "templateType": "Content:Dynamic"
    },
    {
        "id": "c7740134-1ad7-11e1-aca6-0026b9414f30",
        "urlKey": "ninja-turtles",
        "type": "series",
        "title": "Teenage Mutant Ninja Turtles",
        "shortTitle": "Teenage Mutant Ninja Turtles",
        "images": [
            {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/teenage-mutant-ninja-turtles/header-graphic-TMNT.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            {
                "type": "Featured",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/teenage-mutant-ninja-turtles/show-cover-tmnt.jpg",
                        "aspectRatio": "1x1",
                        "width": "544",
                        "height": "544"
                    }
                ]
            }
        ],
        "description": "<p>Leo, Donnie, Raph and Mikey are mutant turtles who have been trained in the art of ninjutsu by their rat sensei, Master Splinter. Emerging from their sewer lair, the reptile brothers confront the wondrous world of New York City, facing villains more dangerous and pizza more delicious than anything they could have imagined. \n<br><br>\nThrough battles with Shredder, the Kraang and loads of super-powerful mutants, the Turtles learn to rely on themselves and each other as they grow to become the heroes they are destined to be.</p>",
        "seriesUrlKey": "ninja-turtles",
        "seriesTitle": "Teenage Mutant Ninja Turtles",
        "datePosted": "2011-11-29T20:10:00.000+0000",
        "theme": {
            "ThemeLogoImage": {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/teenage-mutant-ninja-turtles/header-graphic-TMNT.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            "BackgroundColor": "00b4e1",
            "BackgroundColor2": "97feb6"
        },
        "templateType": "Content:Dynamic"
    },
    {
        "id": "cb8ddcc6-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs_bigtimerush",
        "type": "series",
        "title": "Big Time Rush",
        "shortTitle": "Big Time Rush",
        "images": [
            {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/big-time-rush/header-graphic-BTR.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            {
                "type": "Featured",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/big-time-rush/show-cover-btr.jpg",
                        "aspectRatio": "1x1",
                        "width": "544",
                        "height": "544"
                    }
                ]
            }
        ],
        "description": "Life is about to change big time for four best friends from Minnesota. One day they're playing hockey and trying to pass math, and the next they're on their way to L.A. to become the newest pop sensation. It may seem like a dream, but trading hockey sticks for hair and make-up isn't always easy. Do they have what it takes to make it in the music biz? Will celebrity life change them for ever? And where will they practice their flip shots anyway?",
        "seriesUrlKey": "hs_bigtimerush",
        "seriesTitle": "Big Time Rush",
        "datePosted": "2009-10-27T19:11:13.000+0000",
        "theme": {
            "ThemeLogoImage": {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/big-time-rush/header-graphic-BTR.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            "BackgroundColor": "00b4e1",
            "BackgroundColor2": "97feb6"
        },
        "templateType": "Content:Dynamic"
    },
    {
        "id": "cb773e58-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs_winx_club",
        "type": "series",
        "title": "Winx Club",
        "shortTitle": "Winx Club",
        "images": [
            {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/winx-club/header-graphic-winx.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            {
                "type": "Featured",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/winx-club/show-cover-winx.jpg",
                        "aspectRatio": "1x1",
                        "width": "544",
                        "height": "544"
                    }
                ]
            }
        ],
        "description": "Something truly magical has happened to Bloom, an ordinary girl who discovers she's really a fairy with extraordinary powers! Bloom learns to use her magical powers at the finest fairy school in all the realms, Alfea College. At Alfea, she meets her new best friends, Stella, Flora, Musa, Tecna and Aisha, and forms the Winx Club. Together, they study hard in school, hang out at their favorite spots in Magix and go on lots of exciting adventures. When faced with trouble, they transform into beautiful fairies and save the world from all sorts of villains, like The Trix, a trio of evil witches. But for these six fairies, nothing can defeat their powerful magic and even stronger friendship. Get ready to feel the magic!",
        "seriesUrlKey": "hs_winx_club",
        "seriesTitle": "Winx Club",
        "datePosted": "2011-04-08T20:44:11.000+0000",
        "theme": {
            "ThemeLogoImage": {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/winx-club/header-graphic-winx.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            "BackgroundColor": "00b4e1",
            "BackgroundColor2": "97feb6"
        },
        "templateType": "Content:Dynamic"
    },
    {
        "id": "cb81db06-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs_pr_samurai",
        "type": "series",
        "title": "Power Rangers: Super Samurai",
        "shortTitle": "Power Rangers: Super Samurai",
        "images": [
            {
                "type": "Featured",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/power-rangers/show-cover-power-rangers.jpg",
                        "aspectRatio": "1x1",
                        "width": "544",
                        "height": "544"
                    }
                ]
            }
        ],
        "description": "Under the expert guidance of Mentor Ji, a group of majorly talented teenagers has successfully battled back the relentless monsters who seek to destroy their world. But as the Sanzu River rises, so does the strength of Master Xandred's Nighlok army, and now his terrible Mooger cronies are joined by Serrator, a new face of evil lurking in the darkness. To stand a chance against these new challenges, the Power Rangers must unlock the inconceivably powerful Black Box and become... <i>Super Samurais</i>! As Super Samurais, Jayden, Kevin, Mia, Emily, Mike and Antonio will learn the secrets of the BullZord and Shogun Mode, in hopes of gaining an edge in the battle to protect humankind from evil.",
        "seriesUrlKey": "hs_pr_samurai",
        "seriesTitle": "Power Rangers: Super Samurai",
        "datePosted": "2010-11-04T17:11:17.000+0000",
        "templateType": "Content:Dynamic"
    },
    {
        "id": "9a5419c5-f28b-45d2-a042-770024dd74f6",
        "urlKey": "robotmonster",
        "type": "series",
        "title": "Robot & Monster",
        "shortTitle": "Robot & Monster",
        "images": [
            {
                "type": "Featured",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/robot-and-monster/show-cover-robot-and-monster.jpg",
                        "aspectRatio": "1x1",
                        "width": "544",
                        "height": "544"
                    }
                ]
            }
        ],
        "description": "Although Mechanicals and Organics toil away side by side at the blinking lights factory, in this land of beating hearts and motherboards, Robot and Monster make a bit of an odd couple. Robot is serious and Monster's a goof, but that doesn't keep them from being best friends. Like toast and eggs, they do everything together, testing gadgets, raising their pet Marf, dreaming of J.D. and dodging the annoying Ogo and the arrogant Gart. They're also on a mission to make Robot the world's most famous inventor! Join them on their journey and be sure to pack plenty of their favorite snack: BACON!",
        "seriesUrlKey": "robotmonster",
        "seriesTitle": "Robot & Monster",
        "datePosted": "2012-07-10T19:26:31.000+0000",
        "templateType": "Content:Dynamic"
    },
    {
        "id": "70d13aa7-a589-4c19-8ed5-f4cfa84b65af",
        "urlKey": "legend-of-korra",
        "type": "series",
        "title": "Legend of Korra",
        "shortTitle": "Legend of Korra",
        "images": [
            {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/legend-of-korra/header-graphic-korra.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            {
                "type": "Featured",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/legend-of-korra/show-cover-korra.jpg",
                        "aspectRatio": "1x1",
                        "width": "544",
                        "height": "544"
                    }
                ]
            }
        ],
        "description": "Republic City is everything that Avatar Aang and Fire Lord Zuko fought for when they ended the Hundred Year War. With balance restored to the four nations, benders and non-benders can live together in peace, in this thriving metropolitan area. But even the steampunk paradise of Republic City has its problems, as the next Avatar discovers. When Avatar Korra arrives in Republic City to master her airbending, she comes face to face with criminal bending gangs as well as members of a vocal anti-bending revolution. Before long, Korra's Avatar skills are put to the test when she encounters a group of Chi-blockers led by the charismatic and mysterious Amon, who threatens the city and all the benders in it. Despite the immense danger, Korra vows to fight the growing anti-bending revolution. But will she be able to stop Amon before he rises to power and makes his vision of a bending-free world a reality?",
        "seriesUrlKey": "legend-of-korra",
        "seriesTitle": "Legend of Korra",
        "datePosted": "2012-01-27T21:06:11.000+0000",
        "templateType": "Content:Dynamic"
    },
    {
        "id": "cba0c750-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs_anubis_V2",
        "type": "series",
        "title": "House of Anubis",
        "shortTitle": "House of Anubis",
        "images": [
            {
                "type": "Logo",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/house-of-anubis/header-graphic-house-of-anubis.png",
                        "width": "824",
                        "height": "328"
                    }
                ]
            },
            {
                "type": "Featured",
                "assets": [
                    {
                        "path": "/nick/app/iOS/shows/house-of-anubis/show-cover-hoa.jpg",
                        "aspectRatio": "1x1",
                        "width": "544",
                        "height": "544"
                    }
                ]
            }
        ],
        "description": "Welcome back to the House of Anubis. Nina is back from the states eager to pick up where she left off with her new friends. Well, if she thought she can leave the dark mysteries behind, she's <i>so</i> wrong. The house is awakening once more and this time, there's a spirit involved. Can the students overcome the obstacles and figure out what truly lies beneath the House of Anubis before it's too late?",
        "seriesUrlKey": "hs_anubis_V2",
        "seriesTitle": "House of Anubis",
        "datePosted": "2010-12-01T17:17:48.000+0000",
        "templateType": "Content:Dynamic"
    }
]


--
Editorial Content Collection  

##Query Parameters

-   **urlKey** - unique key identifying section of content

##Response
  
- **zones** - list of promotable areas mapped by urlKey
    - **urlKey** - unique identifier that maps to section of app containing promoted content
    -  **promos** - promoted content items
        - **title** - promotional title
        -    **description** - promotional description
        -    **shortDescription** - promotional short description
        -    **copy** - promotional copy
        -    **headerText** - promotional header text
        -    **subHeaderText** - promotional subheader text
        -    **url** - external url for this promo, used for webviews
        -    **images** - promotional images
            -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
            -   **assets** - list of assets for this image in varying aspect ratios
                -   **path** - path to this image
                -   **aspectRatio** - aspect ratio of this image
                -   **width** - width of this image in pixels
                -   **height** - height of this image in pixels
        -    **items** - promoted items
            - **id** - unique identifier for this item
            -   **urlKey** - unique within content type, used to request detailed info for this item
            -   **type** - content type for this item (e.g. video)
            -   **title** - title of this item
            -   **shortTitle** - short title of this item
            -   **description** - description of this item
            -   **images** - list of images for this item
                -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
                -   **assets** - list of assets for this image in varying aspect ratios
            -   **datePosted** - date that this item was posted
            -   **seriesUrlKey** - url key for the series this item is related to
            -   **seriesTitle** - title of the series this item is related to
            -   **people** - list or url keys for the people associated to this item
            -   **duration** - duration of this item (for video only)
            -   **url** - external url for this item (for external only)
            -   **photoCount** - number of photos in this album (for photoAlbum only)
--

GET /editorial-content-collection?urlKey=win8-home-page
< 200
< Content-Type: application/json
{
    "zones": [
        {
            "urlKey" : "win8-home-zone",
            "title": "Win8 Home Zone",
            "promos" : [
                {
                    "title" : "Promo 1 Title",
                    "description" : "Promo 1 Description",
                    "shortDescription": "Promo 1 Short Description",
                    "copy": "Promo 1 Copy",
                    "headerText": "Promo 1 Header Text",
                    "subHeaderText": "Promo 1 Subheader Text"                    
                    "images": [
                        {
                            "assets": [
                                {
                                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                    "aspectRatio": "16x9",
                                    "width": "640",   
                                    "height": "360"                             
                                }                                
                            ]
                        }
                    ],
                    "items" : [
                        {
                            "id": "dcc6922e-cc35-492a-9263-407cc7ffab55",
                            "urlKey": "icarly-409-itoe-fat-cakes-bath-disaster-clip",
                            "type": "video",
                            "title": "iCarly: \"iToe Fat Cakes: Bath Disaster!\"",
                            "shortTitle": "iToe Fat Cakes: Bath Disaster!",
                            "description": "Carly sets the record for worst date in history when she gets her toe stuck in the bath faucet!",
                            "images": [
                                {
                                    "type": "thumbnail",
                                    "assets": [
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                            "aspectRatio": "16x9",
                                            "width": "640",   
                                            "height": "360"                             
                                        },
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=480&height=360",
                                            "aspectRatio": "4x3",
                                            "width": "480",   
                                            "height": "360"                             
                                        },
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=360&height=360",
                                            "aspectRatio": "1x1",
                                            "width": "360",   
                                            "height": "360"                             
                                        }                                
                                    ]
                                }
                            ],
                            "datePosted": "2012-08-01T04:00:00.000+0000",
                            "seriesUrlKey": "hs-icarly",
                            "seriesTitle": "iCarly",            
                            "people": [
                                "miranda-cosgrove"
                            ],
                            "duration": "1:24",
                            "videoType": "clip",
                            "legacyId": "1073793"                            
                        }                        
                    ]
                },
                {
                    "title": "Win8 Test Webtile Promo",
                    "description": "Check out Teennick.com!",
                    "shortDescription": "Check out Teennick.com!",
                    "copy": "Check out Teennick.com!",
                    "headerText": "Check out this Quiz!",
                    "subHeaderText": "Promo 2 Subheader Text",                    
                    "url": "http://www.teennick.com/quizzes/who-is-your-degrassi-girl-crush-quiz.html",                    
                    "images": [
                        {
                            "assets": [
                                {
                                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                    "aspectRatio": "16x9",
                                    "width": "640",   
                                    "height": "360"                             
                                }                                
                            ]
                        }
                    ]
                }                
            ]
        },
        {
            "urlKey" : "win8-live-tile-wide-zone",
            "title": "Win8 Wide Live Tiles",
            "promos" : [
                {
                    "title" : "Promo 1 Title",
                    "description" : "Promo 1 Description",
                    "shortDescription": "Promo 1 Short Description",
                    "copy": "Promo 1 Copy",
                    "headerText": "Promo 1 Header Text",
                    "subHeaderText": "Promo 1 Subheader Text"                    
                    "images": [
                        {
                            "assets": [
                                {
                                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                    "aspectRatio": "16x9",
                                    "width": "640",   
                                    "height": "360"                             
                                }                                
                            ]
                        }
                    ],
                    "items" : [
                        {
                            "id": "dcc6922e-cc35-492a-9263-407cc7ffab55",
                            "urlKey": "icarly-409-itoe-fat-cakes-bath-disaster-clip",
                            "type": "video",
                            "title": "iCarly: \"iToe Fat Cakes: Bath Disaster!\"",
                            "shortTitle": "iToe Fat Cakes: Bath Disaster!",
                            "description": "Carly sets the record for worst date in history when she gets her toe stuck in the bath faucet!",
                            "images": [
                                {
                                    "type": "thumbnail",
                                    "assets": [
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                            "aspectRatio": "16x9",
                                            "width": "640",   
                                            "height": "360"                             
                                        },
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=480&height=360",
                                            "aspectRatio": "4x3",
                                            "width": "480",   
                                            "height": "360"                             
                                        },
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=360&height=360",
                                            "aspectRatio": "1x1",
                                            "width": "360",   
                                            "height": "360"                             
                                        }                                
                                    ]
                                }
                            ],
                            "datePosted": "2012-08-01T04:00:00.000+0000",
                            "seriesUrlKey": "hs-icarly",
                            "seriesTitle": "iCarly",            
                            "people": [
                                "miranda-cosgrove"
                            ],
                            "duration": "1:24",
                            "videoType": "clip",
                            "legacyId": "1073793",                            
                        }                        
                    ]
                },
                {
                    "title": "Win8 Test Webtile Promo",
                    "description": "Check out Teennick.com!",
                    "shortDescription": "Check out Teennick.com!",
                    "copy": "Check out Teennick.com!",
                    "headerText": "Check out this Quiz!",
                    "subHeaderText": "Promo 2 Subheader Text",                    
                    "url": "http://www.teennick.com/quizzes/who-is-your-degrassi-girl-crush-quiz.html",                    
                    "images": [
                        {
                            "assets": [
                                {
                                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                    "aspectRatio": "16x9",
                                    "width": "640",   
                                    "height": "360"                             
                                }                                
                            ]
                        }
                    ]
                }                
            ]
        }
    ]
}


--
Content Collection   

(e.g. Followed Content, Timeline Content, All Miranda Videos, SpongeBob)

The **types** parameter is always required. One of **people** or **series** is required. Currently, you cannot query by both **people** and **series** in the same request.

##Query Parameters  

-   **types (required)** - (video|episode|playlist|photoAlbum|game|event|poll|external) comma delimited list of content types
-   **people** - comma delimited list of person url keys  
-   **series** - comma delimited list of series url keys
-   **categoryTags** - comma delimited list of category tag keys
-   **excludeIds** - comma delimlited list of item ids to exclude from results set
-   **rows** - number of rows to return per page, default is 50, max is 200
-   **start** - integer specifying which record to return at the beginning of the list (e.g. 50 for second page of records)
  
##Response

- **meta** - information about the response

    - **status** - indicates if request completed successfully 
    - **count** - number of results in this response 
    - **totalCount** - total number of results for this query
  
- **results** - results of this query

    -   **id** - unique identifier for this item
    -   **urlKey** - unique within content type, used to request detailed info for this item
    -   **type** - content type for this item (e.g. video)
    -   **title** - title of this item
    -   **shortTitle** - short title of this item
    -   **description** - description of this item
    -   **images** - list of images for this item
        -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
        -   **assets** - list of assets for this image in varying aspect ratios
            -   **path** - path to this image
            -   **aspectRatio** - aspect ratio of this image
            -   **width** - width of this image in pixels
            -   **height** - height of this image in pixels
    -   **datePosted** - date that this item was posted
    -   **seriesUrlKey** - url key for the series this item is related to
    -   **seriesTitle** - title of the series this item is related to
    -   **people** - list or url keys for the people associated to this item
    -   **duration** - duration of this item (for video only)
    -   **url** - external url for this item (for external only)
    -   **photoCount** - number of photos in this album (for photoAlbum only)
--

GET /content-collection?types=video&series=hs-spongebob
< 200
< Content-Type: application/json
{
    "meta": {
        "status": 0,
        "count": 3,
        "totalCount": 3
    },
    "results": [
        {
            "id": "ddec2d94-fb40-11e0-aca6-0026b9414f30",
            "urlKey": "spongebob-164-barnacle-face-the-zit-doesnt-quit-clip",
            "type": "video",
            "title": "SpongeBob SquarePants: \"Barnacle Face: The Zit That Doesn't Quit\"",
            "shortTitle": "Barnacle Face: The Zit That Doesn't Quit", 
            "description": "SpongeBob uses a variety of industrial-strength tools to remove a barnacle blemish from Pearl's face.",
            "images": [
                {
                    "type": "thumbnail",
                    "assets": [
                        {
                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                            "aspectRatio": "16x9",
                            "width": "640",   
                            "height": "360"                             
                        },
                        {
                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=480&height=360",
                            "aspectRatio": "4x3",
                            "width": "480",   
                            "height": "360"                             
                        },
                        {
                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=360&height=360",
                            "aspectRatio": "1x1",
                            "width": "360",   
                            "height": "360"                             
                        }                                
                    ]
                }
            ],
            "datePosted": "",
            "seriesUrlKey": "hs-spongebob",
            "seriesTitle": "SpongeBob SquarePants",            
            "people": [
            ],
            "duration": "0:46"
        },
        {
            "id": "e872b83c-fb40-11e0-aca6-0026b9414f30",
            "urlKey": "spongebob-162-ghoul-fools-so-not-scary-haunted-house-clip",
            "type": "video",
            "title": "SpongeBob SquarePants: \"Ghoul Fools: So Not Scary Haunted House\"",
            "shortTitle": "Ghoul Fools: So Not Scary Haunted House",
            "description": "Patrick is not impressed by the scariest haunted house under the sea.",
            "images": [
                {
                    "assets": [
                        {
                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                            "aspectRatio": "16x9",
                            "width": "640",   
                            "height": "360"                             
                        }                                
                    ]
                }
            ],
            "datePosted": "",
            "seriesUrlKey": "hs-spongebob",
            "seriesTitle": "SpongeBob SquarePants",            
            "people": [
            ],
            "duration": "0:56"
        },
        {
            "id": "55f3e584-b87f-11e0-8fe5-0026b9414f30",
            "urlKey": "spongebob-accidents-will-happen-clip-2",
            "type": "video",
            "title": "SpongeBob SquarePants: \"Accidents Will Happen: Scamming Squid\"",
            "shortTitle", "Accidents Will Happen: Scamming Squid",
            "description": "Mr. Krabs will do ANYTHING to keep Squidward from getting him in trouble.",
            "images": [
                {
                    "assets": [
                        {
                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                            "aspectRatio": "16x9",
                            "width": "640",   
                            "height": "360"                             
                        }                                
                    ]
                }
            ],
            "datePosted": "",
            "seriesUrlKey": "hs-spongebob",
            "seriesTitle": "SpongeBob SquarePants",            
            "people": [
            ],
            "duration": "1:45"
        }        
    ]
}


--
Blog Collection   

One of **people** or **series** is required. Currently, you cannot query by both **people** and **series** in the same request.

##Query Parameters  

-   **people** - comma delimited list of person url keys  
-   **series** - comma delimited list of series url keys
-   **rows** - number of rows to return per page, default is 50, max is 200
-   **start** - integer specifying which record to return at the beginning of the list (e.g. 50 for second page of records)
  
##Response

- **meta** - information about the response

    - **status** - indicates if request completed successfully 
    - **count** - number of results in this response 
    - **totalCount** - total number of results for this query
  
- **results** - results of this query

    -   **id** - unique identifier for this item
    -   **urlKey** - unique within content type, used to request detailed info for this item
    -   **type** - content type for this item (e.g. video)
    -   **title** - title of this item
    -   **shortTitle** - short title of this item
    -   **description** - description of this item
    -   **images** - list of images for this item
        -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
        -   **assets** - list of assets for this image in varying aspect ratios
            -   **path** - path to this image
            -   **aspectRatio** - aspect ratio of this image
            -   **width** - width of this image in pixels
            -   **height** - height of this image in pixels
    -   **datePosted** - date that this item was posted
    -   **seriesUrlKey** - url key for the series this item is related to
    -   **seriesTitle** - title of the series this item is related to
    -   **people** - list or url keys for the people associated to this item
    -   **duration** - duration of this item (for video only)
    -   **url** - external url for this item (for external only)
    -   **photoCount** - number of photos in this album (for photoAlbum only)
--

GET /blog-collection?people=victoria-justice
< 200
< Content-Type: application/json
{
    "meta": {
        "status": 0,
        "count": 1,
        "totalCount": 1
    },
    "results": [
        {
            "id": "c3a4c77e-2a0d-41ce-a9c4-c33831b99f5a",
            "urlKey": "leon-thomas-spills-secret-on-victoria-justice",
            "type": "blog",
            "title": "Leon Thomas Spills A Secret About Victoria Justice",
            "shortTitle": "Leon's Spilling Cast Secrets!", 
            "description": "",
            "images": [
                {
                    "type": "thumbnail",
                    "assets": [
                        {
                            "path": "/nick/shows/images/blogs/blogs-1/leon-thomas-spills-secret-on-victoria-justice-thumbnail-16x9.jpg",
                            "aspectRatio": "16x9",
                            "width": "1024",   
                            "height": "576"                             
                        },
                        {
                            "path": "/nick/shows/images/blogs/blogs-1/leon-thomas-spills-secret-on-victoria-justice-thumbnail-1x1.jpg",
                            "aspectRatio": "1x1",
                            "width": "1024",   
                            "height": "1024"                             
                        },
                        {
                            "path": "/nick/shows/images/blogs/blogs-1/leon-thomas-spills-secret-on-victoria-justice-thumbnail-4x3.jpg",
                            "aspectRatio": "4x3",
                            "width": "1024",   
                            "height": "768"                             
                        }                                
                    ]
                }
            ],
            "datePosted": "2012-09-24T22:50:00.000+0000",
            "seriesUrlKey": "victorious",
            "seriesTitle": "Victorious",            
            "people": [
                "victoria-justice",
                "leon-thomas"
            ]
        }
    ]
}

--
Tweets

One of **people** or **series** is required. Currently, you cannot query by both **people** and **series** in the same request.

##Query Parameters  

-   **people** - comma delimited list of person url keys  
-   **series** - comma delimited list of series url keys
-   **rows** - number of rows to return per page, default is 50, max is 200
-   **start** - integer specifying which record to return at the beginning of the list (e.g. 50 for second page of records)
  
##Response

- **meta** - information about the response

    - **status** - indicates if request completed successfully 
    - **count** - number of results in this response 
  
- **results** - results of this query

    -   **id** - unique identifier for this item
    -   **title** - twitter handle for this tweet
    -   **description** - text content for this tweet
    -   **datePosted** - date that this item was posted
    -   **seriesUrlKey** - url key for the series this item is related to
    -   **seriesTitle** - title of the series this item is related to
    -   **people** - list or url keys for the people associated to this item
--

GET /twitter/tweets?people=kendall-schmidt,jennette-mccurdy
< 200
< Content-Type: application/json
{
    "meta": {
        "start": 0,
        "count": 4,
        "status": "SUCCESS"
    },
    "results": [
        {
            "id": "256437731675226113",
            "title": "HeffronDrive",
            "description": "Wow time goes be in a flash\nThank you all!\nObviously we wouldn't be where we are without our fans/friends/followers\n#HappyBTR2ndAnniversary",
            "seriesUrlKey": "hs-bigtimerush",
            "seriesTitle": "Big Time Rush",
            "people": [
                "kendall-schmidt"
            ],
            "datePosted": "2012-10-11T20:54:00.000+0000"
        },
        {
            "id": "256183143135076352",
            "title": "jennettemccurdy",
            "description": "My iPad betrays me every time I am listening to embarrassing music and the album cover image engulfs my entire screen.",
            "seriesUrlKey": "hs-icarly",
            "seriesTitle": "iCarly",
            "people": [
                "jennette-mccurdy"
            ],
            "datePosted": "2012-10-11T04:03:00.000+0000"
        },
        {
            "id": "256176203709415424",
            "title": "jennettemccurdy",
            "description": "What should I be for Halloween... katy perry, a banana, or tilda swinton?",
            "seriesUrlKey": "hs-icarly",
            "seriesTitle": "iCarly",
            "people": [
                "jennette-mccurdy"
            ],
            "datePosted": "2012-10-11T03:35:00.000+0000"
        },
        {
            "id": "256175551268675584",
            "title": "jennettemccurdy",
            "description": "“@ArianaGrande: We love Ron Weasley's new single? @JennetteMccurdy” hahahaha. Ha.",
            "seriesUrlKey": "hs-icarly",
            "seriesTitle": "iCarly",
            "people": [
                "jennette-mccurdy"
            ],
            "datePosted": "2012-10-11T03:33:00.000+0000"
        }
    ]
}


--
Video

##Query Parameters

-   **id** - id of the item to request
-   **urlKey** - urlKey of the item to request

##Response
  
-   **id** - unique identifier for this item
-   **urlKey** - unique within content type, used to request detailed info for this item
-   **title** - title of this item
-   **shortTitle** - short title of this item
-   **description** - description of this item
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **datePosted** - date that this item was posted
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **people** - list or url keys for the people associated to this item
-   **duration** - duration of this item (for video types only)
-   **videoType** - (*unset*|clip|preview|tunein) descriptive type for this video
-   **legacyId** - legacy video id for requesting media record
-   **relatedVideos** - list of related video ids
-   **rating** - rating for this video content
--

GET /video?id=1a197042-7a9a-11e0-8fe5-0026b9414f30
< 200
< Content-Type: application/json
{ 
    "id": "1a197042-7a9a-11e0-8fe5-0026b9414f30",
    "urlKey": "icarly-310-iomg-clip-4-sam-kiss-freddie-seddie",
    "title": "iCarly: \"iOMG: The Big OMG Moment\"",
    "shortTitle": "iOMG: The Big OMG Moment",
    "description": "Freddie encourages Sam to express her feelings and is left speechless by her response.",
    "images": [
        {
            "assets": [
                {
                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                    "aspectRatio": "16x9",
                    "width": "640",   
                    "height": "360"                             
                }                                
            ]
        }
    ],
    "datePosted": "",
    "seriesUrlKey": "hs-icarly",
    "seriesTitle": "iCarly",            
    "people": [
        "jennette-mccurdy-sidekick",
        "nathan-kress"
    ],
    "duration": "1:57",
    "videoType": "",
    "legacyId": "795796",
    "relatedVideos": [
        "videoid1",
        "videoid2"
    ],
    "rating": "TV-Y7"
}


--
Playlist

##Query Parameters

-   **id** - id of the item to request
-   **urlKey** - urlKey of the item to request

##Response
  
-   **id** - unique identifier for this item
-   **urlKey** - unique within content type, used to request detailed info for this item
-   **title** - title of this item
-   **shortTitle** - short title of this item
-   **description** - description of this item
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **datePosted** - date that this item was posted
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **people** - list or url keys for the people associated to this item
-   **duration** - duration of this item (for video types only)
-   **playlistType** - (*unset*|full episode (segmented)|editorial|episode highlights|full episode (unsegmented)|video collection) descriptive type for this playlist
-   **rating** - rating for this video content
--

GET /playlist?id=ec62c2a8-e4b9-4956-8061-d21ec54f4595
< 200
< Content-Type: application/json
{ 
    "id": "ec62c2a8-e4b9-4956-8061-d21ec54f4595",
    "urlKey": "spongebob-all-songs-mega-playlist",
    "title": "SpongeBob SquarePants: All Songs Mega Playlist!",
    "shortTitle": "All Songs Mega Playlist!",
    "description": "You will literally not be able to handle all of this music. Seriously.",
    "images": [
        {
            "assets": [
                {
                    "path": "/nick-assets/video/images/spongebob-squarepants/campfire-song.jpg",
                    "aspectRatio": "16x9",
                    "width": "640",   
                    "height": "360"                             
                }                                
            ]
        }
    ],
    "datePosted": "",
    "seriesUrlKey": "hs-spongebob",
    "seriesTitle": "SpongeBob SquarePants",            
    "people": [
    ],
    "duration": "0:00",
    "playlistType": "editorial",
    "rating": "TV-Y7"
}


--
Episode

##Query Parameters

-   **id** - id of the item to request
-   **urlKey** - urlKey of the item to request

##Response
  
-   **id** - unique identifier for this item
-   **urlKey** - unique within content type, used to request detailed info for this item
-   **title** - title of this item
-   **shortTitle** - short title of this item
-   **description** - description of this item
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **datePosted** - date that this item was posted
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **people** - list or url keys for the people associated to this item
-   **duration** - duration of this item (for video types only)
-   **videoType** - (*unset*|clip|preview|tunein) descriptive type for this video
-   **relatedItems** - list of related items
-   **rating** - rating for this video content
-   **season** - season this episode aired during
-   **episodeNumber** - number of this episode in the series
-   **expirationDate** - date that this content expires
-   **playlistId** - playlist id for this episode
--

GET /episode?id=bdaa2191-5b78-4dc3-8fca-86264c9b3942
< 200
< Content-Type: application/json
{
    "id": "bdaa2191-5b78-4dc3-8fca-86264c9b3942",
    "urlKey": "robot-and-monster-118-full-episode-a",
    "type": "episode",
    "title": "Robot & Monster: \"Game On & Bad News Baconeers\"",
    "shortTitle": "Game On & Bad News Baconeers",
    "images": [
        {
            "assets": [
                {
                    "path": "/nick/video/images/robot-and-monster/robot-and-monster-118-full-ep-4x3.jpg",
                    "aspectRatio": "4x3",
                    "width": "1024",
                    "height": "768"
                },
                {
                    "path": "/nick/video/images/robot-and-monster/robot-and-monster-118-full-ep-1x1.jpg",
                    "aspectRatio": "4x3",
                    "width": "698",
                    "height": "698"
                },
                {
                    "path": "/nick/video/images/robot-and-monster/robot-and-monster-118-full-ep-16x9.jpg",
                    "aspectRatio": "16x9",
                    "width": "1024",
                    "height": "576"
                }
            ]
        }
    ],
    "description": "Robot and Monster compete with their friends in a game show. The gang tries out a new sport.",
    "seriesUrlKey": "robotmonster",
    "seriesTitle": "Robot & Monster",
    "duration": "30:00",
    "datePosted": "2012-09-27T17:19:07.000+0000",
    "relatedItems": [
        {
            "id": "71da25ce-ca07-4393-bf69-697d9c854820",
            "urlKey": "robot-and-monster-118-clip",
            "type": "video",
            "title": "Robot & Monster: \"Game On: Let's Win!\"",
            "shortTitle": "\"Game On: Let's Win!\"",
            "images": [
                {
                    "assets": [
                        {
                            "path": "/nick/video/images/robot-and-monster/robot-and-monster-118-clip-16x9.jpg",
                            "aspectRatio": "16x9",
                            "width": "1024",
                            "height": "576"
                        },
                        {
                            "path": "/nick/video/images/robot-and-monster/robot-and-monster-118-clip-4x3.jpg",
                            "aspectRatio": "4x3",
                            "width": "1024",
                            "height": "768"
                        },
                        {
                            "path": "/nick/video/images/robot-and-monster/robot-and-monster-118-clip-1x1.jpg",
                            "aspectRatio": "1x1",
                            "width": "696",
                            "height": "696"
                        }
                    ]
                }
            ],
            "description": "Robot & Monster star in their favorite TV game show - \"Ow! That' Hurts!\"",
            "seriesUrlKey": "robotmonster",
            "seriesTitle": "Robot & Monster",
            "duration": "1:07",
            "datePosted": "2012-09-25T19:12:11.000+0000",
            "videoType": "clip"
        },
        {
            "id": "4d8a7a60-b355-478f-a921-dbe86102e09e",
            "urlKey": "robot-and-monster-location-scouting-pictures",
            "type": "photoAlbum",
            "title": " Robot & Monster: Location Scouting",
            "shortTitle": "Location Scouting",
            "photoCount": 15,
            "images": [
                {
                    "type": "Thumbnail",
                    "assets": [
                        {
                            "path": "/nick/shows/images/robot-and-monster/pictures/locations/locations-thumb-16x9.jpg",
                            "aspectRatio": "16x9",
                            "width": "1024",
                            "height": "576"
                        },
                        {
                            "path": "/nick/shows/images/robot-and-monster/pictures/locations/locations-thumb-1x1.jpg",
                            "aspectRatio": "1x1",
                            "width": "1024",
                            "height": "1024"
                        },
                        {
                            "path": "/nick/shows/images/robot-and-monster/pictures/locations/locations-thumb-4x3.jpg",
                            "aspectRatio": "4x3",
                            "width": "1024",
                            "height": "768"
                        }
                    ]
                }
            ],
            "description": "Monster brings you around to see the sights and meet the citizens of his favorite city!",
            "seriesUrlKey": "robotmonster",
            "seriesTitle": "Robot & Monster",
            "datePosted": "2012-08-23T19:02:31.000+0000"
        },
        {
            "id": "db0e5bf4-4d41-40f8-b656-efb501e7487b",
            "urlKey": "robot-and-monster-inventions-pictures",
            "type": "photoAlbum",
            "title": "Robot & Monster: Inventions",
            "shortTitle": "Inventions",
            "photoCount": 10,
            "images": [
                {
                    "type": "Thumbnail",
                    "assets": [
                        {
                            "path": "/nick/shows/images/robot-and-monster/pictures/inventions/robot-monster-inventions-thumb.jpg",
                            "aspectRatio": "16x9",
                            "width": "1024",
                            "height": "576"
                        },
                        {
                            "path": "/nick/shows/images/robot-and-monster/pictures/inventions/robot-monster-inventions-coverflow.jpg",
                            "aspectRatio": "1x1",
                            "width": "1024",
                            "height": "1024"
                        },
                        {
                            "path": "/nick/shows/images/robot-and-monster/pictures/inventions/robot-monster-inventions-6.jpg",
                            "aspectRatio": "4x3",
                            "width": "1024",
                            "height": "768"
                        }
                    ]
                }
            ],
            "description": "Robot wants nothing more than to be recognized as the world's greatest inventor, even if his creations don't always function as planned... Flip through this collection of concoctions!",
            "seriesUrlKey": "robotmonster",
            "seriesTitle": "Robot & Monster",
            "datePosted": "2012-10-05T17:46:17.000+0000"
        },
        {
            "id": "e6397624-2b50-4607-835a-ea649a5d4749",
            "urlKey": "robot-and-monster-makin-bacon-pictures",
            "type": "photoAlbum",
[...]
