HOST: http://arc.nick-q.mtvi.com/api

--- Nick App API v1 ---
---
##All feeds require the apiKey query parameter, contact Robert.Ruffler@viacom.com to request a key for your application.

All feeds should be requested with query params to identify device, os version and app version. Details TBD.

Any feed / field marked as WIP subject to change.
---

--
Content Collection   

(e.g. Followed Content, Timeline Content, All Miranda Videos, SpongeBob)

The **types** parameter is always required. One of **people** or **series** is required. Currently, you cannot query by both **people** and **series** in the same request.

##Query Parameters  

-   **types (required)** - (video|episode|playlist|photoAlbum|game|event|poll|external) comma delimited list of content types
-   **people** - comma delimited list of person url keys  
-   **series** - comma delimited list of series url keys
-   **rows** - number of rows to return per page, default is 50, max is 200
-   **start** - integer specifying which record to return at the beginning of the list (e.g. 50 for second page of records)
  
##Response

- **meta** - information about the response

    - **status** - indicates if request completed successfully 
    - **count** - number of results in this response 
    - **totalCount** - total number of results for this query
  
- **results** - results of this query

    -   **id** - unique identifier for this item
    -   **urlKey** - unique within content type, used to request detailed info for this item
    -   **type** - content type for this item (e.g. video)
    -   **title** - title of this item
    -   **shortTitle** - short title of this item
    -   **description** - description of this item
    -   **images** - list of images for this item
        -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
        -   **assets** - list of assets for this image in varying aspect ratios
            -   **path** - path to this image
            -   **aspectRatio** - aspect ratio of this image
            -   **width** - width of this image in pixels
            -   **height** - height of this image in pixels
    -   **datePosted** - date that this item was posted
    -   **seriesUrlKey** - url key for the series this item is related to
    -   **seriesTitle** - title of the series this item is related to
    -   **people** - list or url keys for the people associated to this item
    -   **duration** - duration of this item (for video only)
    -   **url** - external url for this item (for external only)
    -   **photoCount** - number of photos in this album (for photoAlbum only)
--

GET /content-collection?types=video&series=hs-spongebob
< 200
< Content-Type: application/json
{
    "meta": {
        "status": 0,
        "count": 3,
        "totalCount": 3
    },
    "results": [
        {
            "id": "ddec2d94-fb40-11e0-aca6-0026b9414f30",
            "urlKey": "spongebob-164-barnacle-face-the-zit-doesnt-quit-clip",
            "type": "video",
            "title": "SpongeBob SquarePants: \"Barnacle Face: The Zit That Doesn't Quit\"",
            "shortTitle": "Barnacle Face: The Zit That Doesn't Quit", 
            "description": "SpongeBob uses a variety of industrial-strength tools to remove a barnacle blemish from Pearl's face.",
            "images": [
                {
                    "type": "thumbnail",
                    "assets": [
                        {
                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                            "aspectRatio": "16x9",
                            "width": "640",   
                            "height": "360"                             
                        },
                        {
                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=480&height=360",
                            "aspectRatio": "4x3",
                            "width": "480",   
                            "height": "360"                             
                        },
                        {
                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=360&height=360",
                            "aspectRatio": "1x1",
                            "width": "360",   
                            "height": "360"                             
                        }                                
                    ]
                }
            ],
            "datePosted": "",
            "seriesUrlKey": "hs-spongebob",
            "seriesTitle": "SpongeBob SquarePants",            
            "people": [
            ],
            "duration": "0:46"
        },
        {
            "id": "e872b83c-fb40-11e0-aca6-0026b9414f30",
            "urlKey": "spongebob-162-ghoul-fools-so-not-scary-haunted-house-clip",
            "type": "video",
            "title": "SpongeBob SquarePants: \"Ghoul Fools: So Not Scary Haunted House\"",
            "shortTitle": "Ghoul Fools: So Not Scary Haunted House",
            "description": "Patrick is not impressed by the scariest haunted house under the sea.",
            "images": [
                {
                    "assets": [
                        {
                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                            "aspectRatio": "16x9",
                            "width": "640",   
                            "height": "360"                             
                        }                                
                    ]
                }
            ],
            "datePosted": "",
            "seriesUrlKey": "hs-spongebob",
            "seriesTitle": "SpongeBob SquarePants",            
            "people": [
            ],
            "duration": "0:56"
        },
        {
            "id": "55f3e584-b87f-11e0-8fe5-0026b9414f30",
            "urlKey": "spongebob-accidents-will-happen-clip-2",
            "type": "video",
            "title": "SpongeBob SquarePants: \"Accidents Will Happen: Scamming Squid\"",
            "shortTitle", "Accidents Will Happen: Scamming Squid",
            "description": "Mr. Krabs will do ANYTHING to keep Squidward from getting him in trouble.",
            "images": [
                {
                    "assets": [
                        {
                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                            "aspectRatio": "16x9",
                            "width": "640",   
                            "height": "360"                             
                        }                                
                    ]
                }
            ],
            "datePosted": "",
            "seriesUrlKey": "hs-spongebob",
            "seriesTitle": "SpongeBob SquarePants",            
            "people": [
            ],
            "duration": "1:45"
        }        
    ]
}

--
Content Collection Delta

The **types** parameter is always required. One of **people** or **series** is required. Currently, you cannot query by both **people** and **series** in the same request.

##Query Parameters  

-   **types (required)** - (video|episode|playlist|blog|photoAlbum|game|external) comma delimited list of content types
-   **people** - comma delimited list of person url keys  
-   **series** - comma delimited list of series url keys
-   **days (required)** - number of days since last data load - currently capped at 7
-   **rows** - number of rows to return per page, default is 50, max is 200
-   **start** - integer specifying which record to return at the beginning of the list (e.g. 50 for second page of records)
  
##Response

- **meta** - information about the response

    - **status** - indicates if request completed successfully 
    - **count** - number of results in this response 
    - **totalCount** - total number of results for this query
  
- **results** - results of this query - format same as content collection for added/updated records, deleted format documented here

    - **id** - unique identifier for this item
    - **type** - content type for this item (e.g. video)
    - **status** - status of this record (deleted)
--

GET /content-collection-delta?types=episode,video,game,poll&days=1
< 200
< Content-Type: application/json
{
    "meta": {
        "start": 0,
        "count": 5,
        "totalCount": 5,
        "status": "SUCCESS"
    },
    "results": [
        {
            "id": "525dad4c-2f8c-462f-8314-1ebb69c3d10b",
            "urlKey": "icarly-halloween-favorite-thing",
            "type": "video",
            "title": "iCarly Favorite Thing about Halloween",
            "shortTitle": "iCarly Favorite Thing about Halloween",
            "description": "The iCarly crew list off the things they enjoy about Haloween.",
            "seriesUrlKey": "hs-icarly",
            "seriesTitle": "iCarly",
            "people": [
                "miranda-cosgrove",
                "nathan-kress",
                "jennette-mccurdy"
            ],
            "duration": "0:53",
            "datePosted": "2012-10-19T15:52:20.000+0000",
            "videoType": "clip"
        },
        {
            "id": "5fcab039-a0ef-449a-b5e3-c8c49ecaddf0",
            "urlKey": "ygst-107-rockin-out",
            "type": "video",
            "title": "You Gotta See This!: \"Rockin' Out\"",
            "shortTitle": "Rockin' Out",
            "images": [
                {
                    "assets": [
                        {
                            "path": "/nick/video/images/you-gotta-see-this/ygst-rocking-out-4x3.jpg",
                            "aspectRatio": "4x3",
                            "width": "1024",
                            "height": "768"
                        },
                        {
                            "path": "/nick/video/images/you-gotta-see-this/ygst-rocking-out-1x1.jpg",
                            "aspectRatio": "1x1",
                            "width": "696",
                            "height": "696"
                        },
                        {
                            "path": "/nick/video/images/you-gotta-see-this/ygst-rocking-out-16x9.jpg",
                            "aspectRatio": "16x9",
                            "width": "1280",
                            "height": "720"
                        }
                    ]
                }
            ],
            "description": "Sometimes, the music just can't let you go!",
            "seriesUrlKey": "you-gotta-see-this",
            "seriesTitle": "You Gotta See This",
            "people": [
                "chris-oneal",
                "noah-crawford"
            ],
            "duration": "0:37",
            "datePosted": "2012-10-19T16:44:37.000+0000",
            "videoType": "clip"
        },
        {
            "id": "053aa2b1-16b0-49f1-b4bf-248c9a5bc686",
            "urlKey": "ygst-111-fenced-in",
            "type": "video",
            "title": "You Gotta See This!: \"Basketball on Unicycles\"",
            "shortTitle": "You Gotta See This!: \"Basketball on Unicycles\"",
            "images": [
                {
                    "assets": [
                        {
                            "path": "/nick-assets/video/images/you-gotta-see-this/ygst-111-fenced-in-16x9.jpg",
                            "width": "1024",
                            "height": "576"
                        },
                        {
                            "path": "/nick/video/images/you-gotta-see-this/ygst-111-fenced-in-4x3.jpg",
                            "aspectRatio": "4x3",
                            "width": "1024",
                            "height": "768"
                        },
                        {
                            "path": "/nick/video/images/you-gotta-see-this/ygst-111-fenced-in-1x1.jpg",
                            "aspectRatio": "1x1",
                            "width": "696",
                            "height": "696"
                        }
                    ]
                }
            ],
            "description": "These guys push the boundaries of the game until they fall out!",
            "seriesUrlKey": "you-gotta-see-this",
            "seriesTitle": "You Gotta See This",
            "people": [
                "chris-oneal",
                "noah-crawford"
            ],
            "duration": "0:46",
            "datePosted": "2012-10-04T16:25:02.000+0000",
            "videoType": "clip"
        },
        {
            "id": "2afe0568-c18b-48f6-ac32-c0920c9c6e33",
            "urlKey": "ygst-114-ele-fail",
            "type": "video",
            "title": "You Gotta See This!: \"Ele-Fail\"",
            "shortTitle": "Ele-Fail",
            "images": [
                {
                    "assets": [
                        {
                            "path": "/nick-assets/video/images/you-gotta-see-this/ygst-114-ele-fail-16x9.jpg",
                            "aspectRatio": "16x9",
                            "width": "1280",
                            "height": "720"
                        },
                        {
                            "path": "/nick/video/images/you-gotta-see-this/ygst-114-ele-fail-4x3.jpg",
                            "aspectRatio": "4x3",
                            "width": "1024",
                            "height": "768"
                        },
                        {
                            "path": "/nick/video/images/you-gotta-see-this/ygst-114-ele-fail-1x1.jpg",
                            "aspectRatio": "1x1",
                            "width": "696",
                            "height": "696"
                        }
                    ]
                }
            ],
            "description": "It's not as easy as you'd think to climb an elephant.",
            "seriesUrlKey": "you-gotta-see-this",
            "seriesTitle": "You Gotta See This",
            "people": [
                "chris-oneal",
                "noah-crawford"
            ],
            "duration": "0:54",
            "videoType": "clip"
        },
        {
            "id": "9216367c-6bb5-46fd-a833-6bc7d4b80e61",
            "urlKey": "ygst-110-the-toss-up",
            "type": "video",
            "title": "You Gotta See This!: \"The Toss Up\"",
            "shortTitle": "You Gotta See This!: \"The Toss Up\"",
            "images": [
                {
                    "assets": [
                        {
                            "path": "/nick/video/images/nick-stars/ygst-the-toss-up-1x1.jpg",
                            "aspectRatio": "1x1",
                            "width": "696",
                            "height": "696"
                        },
                        {
                            "path": "/nick/video/images/nick-stars/ygst-the-toss-up-16x9.jpg",
                            "aspectRatio": "16x9",
                            "width": "1280",
                            "height": "720"
                        },
                        {
                            "path": "/nick/video/images/nick-stars/ygst-the-toss-up-4x3.jpg",
                            "aspectRatio": "4x3",
                            "width": "1024",
                            "height": "768"
                        }
                    ]
                }
            ],
            "description": "For this kid, flippin' pizzas is easy as pie!",
            "seriesUrlKey": "you-gotta-see-this",
            "seriesTitle": "You Gotta See This",
            "people": [
                "chris-oneal",
                "noah-crawford"
            ],
            "duration": "1:07",
            "datePosted": "2012-09-18T14:13:05.000+0000",
            "videoType": "clip"
        }
    ]
}

--
Blog Collection   

One of **people** or **series** is required. Currently, you cannot query by both **people** and **series** in the same request.

##Query Parameters  

-   **people** - comma delimited list of person url keys  
-   **series** - comma delimited list of series url keys
-   **rows** - number of rows to return per page, default is 50, max is 200
-   **start** - integer specifying which record to return at the beginning of the list (e.g. 50 for second page of records)
  
##Response

- **meta** - information about the response

    - **status** - indicates if request completed successfully 
    - **count** - number of results in this response 
    - **totalCount** - total number of results for this query
  
- **results** - results of this query

    -   **id** - unique identifier for this item
    -   **urlKey** - unique within content type, used to request detailed info for this item
    -   **type** - content type for this item (e.g. video)
    -   **title** - title of this item
    -   **shortTitle** - short title of this item
    -   **description** - description of this item
    -   **images** - list of images for this item
        -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
        -   **assets** - list of assets for this image in varying aspect ratios
            -   **path** - path to this image
            -   **aspectRatio** - aspect ratio of this image
            -   **width** - width of this image in pixels
            -   **height** - height of this image in pixels
    -   **datePosted** - date that this item was posted
    -   **seriesUrlKey** - url key for the series this item is related to
    -   **seriesTitle** - title of the series this item is related to
    -   **people** - list or url keys for the people associated to this item
    -   **duration** - duration of this item (for video only)
    -   **url** - external url for this item (for external only)
    -   **photoCount** - number of photos in this album (for photoAlbum only)
--

GET /blog-collection?people=victoria-justice
< 200
< Content-Type: application/json
{
    "meta": {
        "status": 0,
        "count": 1,
        "totalCount": 1
    },
    "results": [
        {
            "id": "c3a4c77e-2a0d-41ce-a9c4-c33831b99f5a",
            "urlKey": "leon-thomas-spills-secret-on-victoria-justice",
            "type": "blog",
            "title": "Leon Thomas Spills A Secret About Victoria Justice",
            "shortTitle": "Leon's Spilling Cast Secrets!", 
            "description": "",
            "images": [
                {
                    "type": "thumbnail",
                    "assets": [
                        {
                            "path": "/nick/shows/images/blogs/blogs-1/leon-thomas-spills-secret-on-victoria-justice-thumbnail-16x9.jpg",
                            "aspectRatio": "16x9",
                            "width": "1024",   
                            "height": "576"                             
                        },
                        {
                            "path": "/nick/shows/images/blogs/blogs-1/leon-thomas-spills-secret-on-victoria-justice-thumbnail-1x1.jpg",
                            "aspectRatio": "1x1",
                            "width": "1024",   
                            "height": "1024"                             
                        },
                        {
                            "path": "/nick/shows/images/blogs/blogs-1/leon-thomas-spills-secret-on-victoria-justice-thumbnail-4x3.jpg",
                            "aspectRatio": "4x3",
                            "width": "1024",   
                            "height": "768"                             
                        }                                
                    ]
                }
            ],
            "datePosted": "2012-09-24T22:50:00.000+0000",
            "seriesUrlKey": "victorious",
            "seriesTitle": "Victorious",            
            "people": [
                "victoria-justice",
                "leon-thomas"
            ]
        }
    ]
}

--
Tweets

One of **people** or **series** is required. Currently, you cannot query by both **people** and **series** in the same request.

##Query Parameters  

-   **people** - comma delimited list of person url keys  
-   **series** - comma delimited list of series url keys
-   **rows** - number of rows to return per page, default is 50, max is 200
-   **start** - integer specifying which record to return at the beginning of the list (e.g. 50 for second page of records)
  
##Response

- **meta** - information about the response

    - **status** - indicates if request completed successfully 
    - **count** - number of results in this response 
  
- **results** - results of this query

    -   **id** - unique identifier for this item
    -   **title** - twitter handle for this tweet
    -   **description** - text content for this tweet
    -   **datePosted** - date that this item was posted
    -   **seriesUrlKey** - url key for the series this item is related to
    -   **seriesTitle** - title of the series this item is related to
    -   **people** - list or url keys for the people associated to this item
--

GET /twitter/tweets?people=kendall-schmidt,jennette-mccurdy
< 200
< Content-Type: application/json
{
    "meta": {
        "start": 0,
        "count": 4,
        "status": "SUCCESS"
    },
    "results": [
        {
            "id": "256437731675226113",
            "title": "HeffronDrive",
            "description": "Wow time goes be in a flash\nThank you all!\nObviously we wouldn't be where we are without our fans/friends/followers\n#HappyBTR2ndAnniversary",
            "seriesUrlKey": "hs-bigtimerush",
            "seriesTitle": "Big Time Rush",
            "people": [
                "kendall-schmidt"
            ],
            "datePosted": "2012-10-11T20:54:00.000+0000"
        },
        {
            "id": "256183143135076352",
            "title": "jennettemccurdy",
            "description": "My iPad betrays me every time I am listening to embarrassing music and the album cover image engulfs my entire screen.",
            "seriesUrlKey": "hs-icarly",
            "seriesTitle": "iCarly",
            "people": [
                "jennette-mccurdy"
            ],
            "datePosted": "2012-10-11T04:03:00.000+0000"
        },
        {
            "id": "256176203709415424",
            "title": "jennettemccurdy",
            "description": "What should I be for Halloween... katy perry, a banana, or tilda swinton?",
            "seriesUrlKey": "hs-icarly",
            "seriesTitle": "iCarly",
            "people": [
                "jennette-mccurdy"
            ],
            "datePosted": "2012-10-11T03:35:00.000+0000"
        },
        {
            "id": "256175551268675584",
            "title": "jennettemccurdy",
            "description": "“@ArianaGrande: We love Ron Weasley's new single? @JennetteMccurdy” hahahaha. Ha.",
            "seriesUrlKey": "hs-icarly",
            "seriesTitle": "iCarly",
            "people": [
                "jennette-mccurdy"
            ],
            "datePosted": "2012-10-11T03:33:00.000+0000"
        }
    ]
}

--
Editorial Content Collection  

##Query Parameters

-   **urlKey** - unique key identifying section of content

##Response
  
- **zones** - list of promotable areas mapped by urlKey
    - **urlKey** - unique identifier that maps to section of app containing promoted content
    -  **promos** - promoted content items
        - **title** - promotional title
        -    **description** - promotional description
        -    **shortDescription** - promotional short description
        -    **copy** - promotional copy
        -    **headerText** - promotional header text
        -    **subHeaderText** - promotional subheader text
        -    **url** - external url for this promo, used for webviews
        -    **images** - promotional images
            -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
            -   **assets** - list of assets for this image in varying aspect ratios
                -   **path** - path to this image
                -   **aspectRatio** - aspect ratio of this image
                -   **width** - width of this image in pixels
                -   **height** - height of this image in pixels
        -    **items** - promoted items
            - **id** - unique identifier for this item
            -   **urlKey** - unique within content type, used to request detailed info for this item
            -   **type** - content type for this item (e.g. video)
            -   **title** - title of this item
            -   **shortTitle** - short title of this item
            -   **description** - description of this item
            -   **images** - list of images for this item
                -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
                -   **assets** - list of assets for this image in varying aspect ratios
            -   **datePosted** - date that this item was posted
            -   **seriesUrlKey** - url key for the series this item is related to
            -   **seriesTitle** - title of the series this item is related to
            -   **people** - list or url keys for the people associated to this item
            -   **duration** - duration of this item (for video only)
            -   **url** - external url for this item (for external only)
            -   **photoCount** - number of photos in this album (for photoAlbum only)
--

GET /editorial-content-collection?urlKey=win8-home-page
< 200
< Content-Type: application/json
{
    "zones": [
        {
            "urlKey" : "win8-home-zone",
            "title": "Win8 Home Zone",
            "promos" : [
                {
                    "title" : "Promo 1 Title",
                    "description" : "Promo 1 Description",
                    "shortDescription": "Promo 1 Short Description",
                    "copy": "Promo 1 Copy",
                    "headerText": "Promo 1 Header Text",
                    "subHeaderText": "Promo 1 Subheader Text"                    
                    "images": [
                        {
                            "assets": [
                                {
                                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                    "aspectRatio": "16x9",
                                    "width": "640",   
                                    "height": "360"                             
                                }                                
                            ]
                        }
                    ],
                    "items" : [
                        {
                            "id": "dcc6922e-cc35-492a-9263-407cc7ffab55",
                            "urlKey": "icarly-409-itoe-fat-cakes-bath-disaster-clip",
                            "type": "video",
                            "title": "iCarly: \"iToe Fat Cakes: Bath Disaster!\"",
                            "shortTitle": "iToe Fat Cakes: Bath Disaster!",
                            "description": "Carly sets the record for worst date in history when she gets her toe stuck in the bath faucet!",
                            "images": [
                                {
                                    "type": "thumbnail",
                                    "assets": [
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                            "aspectRatio": "16x9",
                                            "width": "640",   
                                            "height": "360"                             
                                        },
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=480&height=360",
                                            "aspectRatio": "4x3",
                                            "width": "480",   
                                            "height": "360"                             
                                        },
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=360&height=360",
                                            "aspectRatio": "1x1",
                                            "width": "360",   
                                            "height": "360"                             
                                        }                                
                                    ]
                                }
                            ],
                            "datePosted": "2012-08-01T04:00:00.000+0000",
                            "seriesUrlKey": "hs-icarly",
                            "seriesTitle": "iCarly",            
                            "people": [
                                "miranda-cosgrove"
                            ],
                            "duration": "1:24",
                            "videoType": "clip",
                            "legacyId": "1073793"                            
                        }                        
                    ]
                },
                {
                    "title": "Win8 Test Webtile Promo",
                    "description": "Check out Teennick.com!",
                    "shortDescription": "Check out Teennick.com!",
                    "copy": "Check out Teennick.com!",
                    "headerText": "Check out this Quiz!",
                    "subHeaderText": "Promo 2 Subheader Text",                    
                    "url": "http://www.teennick.com/quizzes/who-is-your-degrassi-girl-crush-quiz.html",                    
                    "images": [
                        {
                            "assets": [
                                {
                                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                    "aspectRatio": "16x9",
                                    "width": "640",   
                                    "height": "360"                             
                                }                                
                            ]
                        }
                    ]
                }                
            ]
        },
        {
            "urlKey" : "win8-live-tile-wide-zone",
            "title": "Win8 Wide Live Tiles",
            "promos" : [
                {
                    "title" : "Promo 1 Title",
                    "description" : "Promo 1 Description",
                    "shortDescription": "Promo 1 Short Description",
                    "copy": "Promo 1 Copy",
                    "headerText": "Promo 1 Header Text",
                    "subHeaderText": "Promo 1 Subheader Text"                    
                    "images": [
                        {
                            "assets": [
                                {
                                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                    "aspectRatio": "16x9",
                                    "width": "640",   
                                    "height": "360"                             
                                }                                
                            ]
                        }
                    ],
                    "items" : [
                        {
                            "id": "dcc6922e-cc35-492a-9263-407cc7ffab55",
                            "urlKey": "icarly-409-itoe-fat-cakes-bath-disaster-clip",
                            "type": "video",
                            "title": "iCarly: \"iToe Fat Cakes: Bath Disaster!\"",
                            "shortTitle": "iToe Fat Cakes: Bath Disaster!",
                            "description": "Carly sets the record for worst date in history when she gets her toe stuck in the bath faucet!",
                            "images": [
                                {
                                    "type": "thumbnail",
                                    "assets": [
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                            "aspectRatio": "16x9",
                                            "width": "640",   
                                            "height": "360"                             
                                        },
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=480&height=360",
                                            "aspectRatio": "4x3",
                                            "width": "480",   
                                            "height": "360"                             
                                        },
                                        {
                                            "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg?crop=true&width=360&height=360",
                                            "aspectRatio": "1x1",
                                            "width": "360",   
                                            "height": "360"                             
                                        }                                
                                    ]
                                }
                            ],
                            "datePosted": "2012-08-01T04:00:00.000+0000",
                            "seriesUrlKey": "hs-icarly",
                            "seriesTitle": "iCarly",            
                            "people": [
                                "miranda-cosgrove"
                            ],
                            "duration": "1:24",
                            "videoType": "clip",
                            "legacyId": "1073793",                            
                        }                        
                    ]
                },
                {
                    "title": "Win8 Test Webtile Promo",
                    "description": "Check out Teennick.com!",
                    "shortDescription": "Check out Teennick.com!",
                    "copy": "Check out Teennick.com!",
                    "headerText": "Check out this Quiz!",
                    "subHeaderText": "Promo 2 Subheader Text",                    
                    "url": "http://www.teennick.com/quizzes/who-is-your-degrassi-girl-crush-quiz.html",                    
                    "images": [
                        {
                            "assets": [
                                {
                                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                                    "aspectRatio": "16x9",
                                    "width": "640",   
                                    "height": "360"                             
                                }                                
                            ]
                        }
                    ]
                }                
            ]
        }
    ]
}

--
Content Delta (WIP)

##Query Parameters  

-   **urlKeys (required)** - comma delimited list of urlKeys
-   **type (required)** - (video|episode|playlist|blog|photoAlbum|game|external|article) content type to query

##Response
  
- **id** - unique identifier for this item
- **urlKey** - unique within content type, used to request detailed info for this item
- **dateModified** - date that this item was last modified
--

GET /content-delta?urlKeys=ios-app-faq,ios-app-privacy-policy,ios-app-terms-of-use&type=article
< 200
< Content-Type: application/json
[
    {
        "id": "e1983c60-529f-4945-9a2a-59649cd86dc7",
        "urlKey": "ios-app-faq",
        "dateModified", "2012-08-31 02:04 PM"
    },
    {
        "id": "6a1d7d14-cddc-445c-b2c8-415e6c6487cb",
        "urlKey": "ios-app-privacy-policy",
        "dateModified", "2012-08-30 05:13 PM"
    },
    {
        "id": "fa0376f9-06c2-4392-aa2e-3ad47efedf37",
        "urlKey": "ios-app-terms-of-use",
        "dateModified", "2012-08-30 05:12 PM"
    }
]


--
Notification: Broadcast

##Query Parameters  

-   **rows** - number of rows to return per page, default is 50, max is 200
-   **start** - integer specifying which record to return at the beginning of the list (e.g. 50 for second page of records)

##Response
- **meta** - information about the response

    - **status** - indicates if request completed successfully 
    - **count** - number of results in this response 
    - **totalCount** - total number of results for this query
  
- **results** - results of this query

    -   **id** - unique identifier for this item
    -   **urlKey** - unique within content type, used to request detailed info for this item
    -   **type** - content type for this item (e.g. video)
    -   **title** - title of this item
    -   **shortTitle** - short title of this item
--
GET /notification-broadcast
< 200
< Content-Type: application/json
{
    "meta": {
        "start": 0,
        "count": 3,
        "totalCount": 3,
        "status": "SUCCESS"
    },
    "results": [
        {
            "id": "16f758ea-351e-4e2f-8c7b-d6361665766b",
            "urlKey": "16f758ea-351e-4e2f-8c7b-d6361665766b",
            "type": "broadcast-msg",
            "title": "Tune in to the World Wide Day of Play tomorrow!!",
            "shortTitle": "Tune in to the World Wide Day of Play tomorrow!!"
        },
        {
            "id": "95787335-d78f-4465-bebb-5d554adf7da7",
            "urlKey": "95787335-d78f-4465-bebb-5d554adf7da7",
            "type": "broadcast-msg",
            "title": "Kids pick the President",
            "shortTitle": "Kids pick the President"
        },
        {
            "id": "a6f44a4c-e378-4d2b-9242-7d9f780be9f5",
            "urlKey": "a6f44a4c-e378-4d2b-9242-7d9f780be9f5",
            "type": "broadcast-msg",
            "title": "Did you know?",
            "shortTitle": "Did you know?"
        }
    ]
}

--
Notification: Talent Alert

##Query Parameters  

-   **people** - comma delimited list of person url keys  
-   **series** - comma delimited list of series url keys
-   **rows** - number of rows to return per page, default is 50, max is 200
-   **start** - integer specifying which record to return at the beginning of the list (e.g. 50 for second page of records)

##Response
- **meta** - information about the response

    - **status** - indicates if request completed successfully 
    - **count** - number of results in this response 
    - **totalCount** - total number of results for this query
  
- **results** - results of this query

    -   **id** - unique identifier for this item
    -   **urlKey** - unique within content type, used to request detailed info for this item
    -   **type** - content type for this item (e.g. video)
    -   **title** - title of this item
    -   **shortTitle** - short title of this item
    -   **people** - list or url keys for the people associated to this item
--
GET /notification-talent-alert?people=miranda-cosgrove,victoria-justice
< 200
< Content-Type: application/json
{
    "meta": {
        "start": 0,
        "count": 2,
        "totalCount": 2,
        "status": "SUCCESS"
    },
    "results": [
        {
            "id": "2f0ce133-6d50-4282-bb07-eabeae1352cf",
            "urlKey": "2f0ce133-6d50-4282-bb07-eabeae1352cf",
            "type": "talent-alert",
            "title": "Flying through California",
            "shortTitle": "Flying through California",
            "people": [
                "miranda-cosgrove"
            ]
        },
        {
            "id": "b01486a4-113b-4458-aea2-934c19734a3a",
            "urlKey": "b01486a4-113b-4458-aea2-934c19734a3a",
            "type": "talent-alert",
            "title": "Check out my new music video",
            "shortTitle": "Check out my new music video",
            "people": [
                "victoria-justice"
            ]
        }
    ]
}

--
Categories

##Query Parameters

-   **urlKey** - url key of star list

##Response

-   **id** - unique identifier for this star
-   **urlKey** - unique identifier for this star
-   **type** - (person|series) disambiguation between items that represent stars vs series
-   **title** - name of this star
-   **description** - description of this star
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **supportingCast** - list of supporting cast members for this star
    -   **id** - unique identifier for this supporting cast member
    -   **urlKey** - unique identifier for this supporting cast member
    -   **type** - (person|series) disambiguation between items that represent stars vs series
    -   **title** - name of this supporting cast member
    -   **description** - description of this supporting cast membe
    -   **images** - list of images for this item
        -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
        -   **assets** - list of assets for this image in varying aspect ratios
            -   **path** - path to this image
            -   **aspectRatio** - aspect ratio of this image
            -   **width** - width of this image in pixels
            -   **height** - height of this image in pixels
    -   **seriesUrlKey** - url key for the series this item is related to
    -   **seriesTitle** - title of the series this item is related to
-   **theme**
    -   **accent-color-1** - accent color for this star
    -   **theme-background** - background image for this star
        -   **assets** - list of assets for this image in varying aspect ratios
            -   **path** - path to this image
            -   **aspectRatio** - aspect ratio of this image
            -   **width** - width of this image in pixels
            -   **height** - height of this image in pixels
-   **options**
    -   **hasGames** - flag indicating if this star/series has games available (defaults to true if unset)
--

GET /categories?urlKey=ios-star-feed
< 200
< Content-Type: application/json
[
    {
        "id": "f1d56f00-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "miranda-cosgrove",
        "type": "Person",
        "title": "Miranda Cosgrove",
        "images": [
            {
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/carousel/star-miranda.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "iCarly",
        "seriesUrlKey": "hs-icarly",
        "seriesTitle": "iCarly",
        "supportingCast": [
            {
                "id": "f1d571ee-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "jennette-mccurdy",
                "type": "Person",
                "title": "Jennette McCurdy",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/jennette-mccurdy/star-jennette-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    }
                ],
                "description": "iCarly",
                "seriesUrlKey": "hs-icarly",
                "seriesTitle": "iCarly"
            },
            {
                "id": "f1d5a7f4-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "jerry-trainor",
                "type": "Person",
                "title": "Jerry Trainor",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/jerry-trainor/star-jerry-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    }
                ],
                "description": "iCarly",
                "seriesUrlKey": "hs-icarly",
                "seriesTitle": "iCarly"
            },
            {
                "id": "f1d5cf9a-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "noah-munck",
                "type": "Person",
                "title": "Noah Munck",
                "description": "iCarly",
                "seriesUrlKey": "hs-icarly",
                "seriesTitle": "iCarly"
            },
            {
                "id": "f1d5a4ca-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "nathan-kress",
                "type": "Person",
                "title": "Nathan Kress",
                "description": "iCarly",
                "seriesUrlKey": "hs-icarly",
                "seriesTitle": "iCarly"
            }
        ]
    },
    {
        "id": "cba6b7aa-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs-spongebob",
        "type": "series",
        "title": "SpongeBob",
        "images": [
            {
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/carousel/star-spongeBob.png",
                        "width": "1000",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "SpongeBob Squarepants",
        "seriesTitle": "SpongeBob SquarePants"
    },
    {
        "id": "f1d574c8-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "victoria-justice",
        "type": "Person",
        "title": "Victoria Justice",
        "images": [
            {
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/carousel/star-victoria.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "Victorious",
        "seriesUrlKey": "hs-victorious",
        "seriesTitle": "Victorious",
        "supportingCast": [
            {
                "id": "f1d5b30c-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "ariana-grande",
                "type": "Person",
                "title": "Ariana Grande",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/ariana-grande/stars-ariana-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    }
                ],
                "description": "Victorious",
                "seriesUrlKey": "hs-victorious",
                "seriesTitle": "Victorious"
            },
            {
                "id": "f1d5aaec-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "liz-gillies",
                "type": "Person",
                "title": "Liz Gillies",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/liz-gillies/stars-liz-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    }
                ],
                "description": "Victorious",
                "seriesUrlKey": "hs-victorious",
                "seriesTitle": "Victorious"
            },
            {
                "id": "f1d5c6d0-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "avan-jogia",
                "type": "Person",
                "title": "Avan Jogia",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/avan-jogia/stars-avan-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    }
                ],
                "description": "Victorious",
                "seriesUrlKey": "hs-victorious",
                "seriesTitle": "Victorious"
            },
            {
                "id": "f1d5c9aa-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "daniella-monet",
                "type": "Person",
                "title": "Daniella Monet",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/daniella-monet/stars-daniella-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    }
                ],
                "description": "Victorious",
                "seriesUrlKey": "hs-victorious",
                "seriesTitle": "Victorious"
            },
            {
                "id": "f1d5b154-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "matt-bennett",
                "type": "Person",
                "title": "Matt Bennett",
                "description": "Victorious",
                "seriesUrlKey": "hs-victorious",
                "seriesTitle": "Victorious"
            },
            {
                "id": "f1d5adc6-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "leon-thomas",
                "type": "Person",
                "title": "Leon Thomas",
                "images": [
                    {
                        "type": "FullBody",
                        "assets": [
                            {
                                "path": "/nick/app/iOS/stars/grid/leon-thomas/stars-leon-tall.png",
                                "width": "736",
                                "height": "1504"
                            }
                        ]
                    }
                ],
                "description": "Victorious",
                "seriesUrlKey": "hs-victorious",
                "seriesTitle": "Victorious"
            }
        ]
    },
    {
        "id": "c7740134-1ad7-11e1-aca6-0026b9414f30",
        "urlKey": "ninja-turtles",
        "type": "series",
        "title": "Leonardo",
        "images": [
            {
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/carousel/star-leonardo.png",
                        "width": "862",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "Teenage Mutant Ninja Turtles",
        "seriesTitle": "Teenage Mutant Ninja Turtles"
    },
    {
        "id": "f1d57d60-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "kendall-schmidt",
        "type": "Person",
        "title": "Kendall Schmidt",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/kendall-schimdt/star-kendall-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "seriesUrlKey": "hs-bigtimerush",
        "seriesTitle": "Big Time Rush"
    },
    {
        "id": "f1d57a4a-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "james-maslow",
        "type": "Person",
        "title": "James Maslow",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/james-maslow/star-james-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "seriesUrlKey": "hs-bigtimerush",
        "seriesTitle": "Big Time Rush"
    },
    {
        "id": "f1d5804e-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "logan-henderson",
        "type": "Person",
        "title": "Logan Henderson",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/logan-henderson/star-logan-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "seriesUrlKey": "hs-bigtimerush",
        "seriesTitle": "Big Time Rush"
    },
    {
        "id": "f1d57784-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "carlos-pena",
        "type": "Person",
        "title": "Carlos Pena",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/carlos-pena/star-carlos-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "seriesUrlKey": "hs-bigtimerush",
        "seriesTitle": "Big Time Rush"
    },
    {
        "id": "f1d6ad98-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "ryan-potter",
        "type": "Person",
        "title": "Ryan Potter",
        "description": "Supah Ninjas",
        "seriesUrlKey": "hs-supah-ninjas",
        "seriesTitle": "Supah Ninjas",
        "supportingCast": [
            {
                "id": "f1d6ac1c-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "gracie-dzienny",
                "type": "Person",
                "title": "Gracie Dzienny",
                "description": "Supah Ninjas",
                "seriesUrlKey": "hs-supah-ninjas",
                "seriesTitle": "Supah Ninjas"
            },
            {
                "id": "f1d6b05e-57b6-11e1-9c48-0026b9414f30",
                "urlKey": "carlos-knight",
                "type": "Person",
                "title": "Carlos Knight",
                "description": "Supah Ninjas",
                "seriesUrlKey": "hs-supah-ninjas",
                "seriesTitle": "Supah Ninjas"
            }
        ]
    },
    {
        "id": "23e4ccea-cda9-11e0-aca6-0026b9414f30",
        "urlKey": "kung-fu-panda-legends-of-awesomeness",
        "type": "series",
        "title": "Po",
        "images": [
            {
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/carousel/star-po.png",
                        "width": "810",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "Kung Fu Panda: Legends of Awesomeness",
        "seriesTitle": "Kung Fu Panda: Legends of Awesomeness"
    },
    {
        "id": "cb773e58-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs-winx-club",
        "type": "series",
        "title": "Bloom",
        "images": [
            {
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/carousel/star-bloom.png",
                        "width": "810",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "Winx Club",
        "seriesTitle": "Winx Club"
    },
    {
        "id": "cb81db06-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs-pr-samurai",
        "type": "series",
        "title": "The Red Ranger",
        "images": [
            {
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/carousel/star-red-ranger.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "Power Rangers: Super Samurai",
        "seriesTitle": "Power Rangers: Super Samurai"
    },
    {
        "id": "101534f6-13e5-11e2-8969-0026b9414f30",
        "urlKey": "lucas-cruikshank",
        "type": "Person",
        "title": "Lucas Cruikshank",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/lucas-cruikshank/stars-lucas-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "Marvin Marvin"
    },
    {
        "id": "cb937a32-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs-penguins",
        "type": "series",
        "title": "Skipper",
        "images": [
            {
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/carousel/star-skipper.png",
                        "aspectRatio": "1x1",
                        "width": "736",
                        "height": "736"
                    }
                ]
            }
        ],
        "description": "Kung Fu Panda: Legends of Awesomeness",
        "seriesTitle": "The Penguins of Madagascar"
    },
    {
        "id": "9a5419c5-f28b-45d2-a042-770024dd74f6",
        "urlKey": "robotmonster",
        "type": "series",
        "title": "Monster",
        "images": [
            {
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/carousel/star-monster.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "Robot & Monster",
        "seriesTitle": "Robot & Monster"
    },
    {
        "id": "cb93d842-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs-fop",
        "type": "series",
        "title": "Timmy",
        "description": "My Fairly OddParents",
        "seriesTitle": "The Fairly OddParents"
    },
    {
        "id": "70d13aa7-a589-4c19-8ed5-f4cfa84b65af",
        "urlKey": "legend-of-korra",
        "type": "series",
        "title": "Korra",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/iOS/stars/grid/legend-of-korra/star-korra-tall.png",
                        "width": "736",
                        "height": "1504"
                    }
                ]
            }
        ],
        "description": "Legend of Korra",
        "seriesTitle": "Legend of Korra"
    },
    {
        "id": "65d32050-1152-43d2-8f42-ab5d22025d98",
        "urlKey": "burkely-duffield",
        "type": "Person",
        "title": "Burkely Duffield",
        "description": "House of Anubis",
        "seriesUrlKey": "hs-anubis-V2",
        "seriesTitle": "House of Anubis"
    }
]


--
Stars (Deprecated)
  use Categories instead

##Query Parameters

-   **urlKey** - url key of star list

##Response

-   **id** - unique identifier for this star
-   **urlKey** - unique identifier for this star
-   **type** - (person|series) disambiguation between items that represent stars vs series
-   **title** - name of this star
-   **description** - description of this star
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **theme**
    -   **accent-color-1** - accent color for this star
    -   **theme-background** - background image for this star
        -   **assets** - list of assets for this image in varying aspect ratios
            -   **path** - path to this image
            -   **aspectRatio** - aspect ratio of this image
            -   **width** - width of this image in pixels
            -   **height** - height of this image in pixels
-   **options**
    -   **hasGames** - flag indicating if this star/series has games available (defaults to true if unset)
--

GET /stars?urlKey=win8-star-feed
< 200
< Content-Type: application/json
[
    {
        "id": "cba6b7aa-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs-spongebob",
        "type": "series",
        "title": "SpongeBob",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-spongebob.png",
                        "width": "408",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-spongebob.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "From SpongeBob Squarepants",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-blue.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#34b3cb"
        }
    },
    {
        "id": "f1d56f00-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "miranda-cosgrove",
        "type": "Person",
        "title": "Miranda Cosgrove",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-miranda.png",
                        "width": "300",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-miranda.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "From iCarly",
        "seriesUrlKey": "hs-icarly",
        "seriesTitle": "iCarly",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-pink.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#e54096"
        }
    },
    {
        "id": "c7740134-1ad7-11e1-aca6-0026b9414f30",
        "urlKey": "ninja-turtles",
        "type": "series",
        "title": "Leonardo",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-leonardo.png",
                        "width": "384",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-leonardo.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "From Teenage Mutant Ninja Turtles",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-green.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#00653a"
        }
    },
    {
        "id": "f1d574c8-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "victoria-justice",
        "type": "Person",
        "title": "Victoria Justice",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-victoria.png",
                        "width": "300",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-victoria.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "From Victorious",
        "seriesUrlKey": "hs-victorious",
        "seriesTitle": "Victorious",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-purple.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#7f3f98"
        }
    },
    {
        "id": "f1d57d60-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "kendall-schmidt",
        "type": "Person",
        "title": "Kendall Schmidt",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-kendall.png",
                        "width": "300",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-kendall.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "seriesUrlKey": "hs-bigtimerush",
        "seriesTitle": "Big Time Rush",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-red.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#d22641"
        }
    },
    {
        "id": "f1d57a4a-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "james-maslow",
        "type": "Person",
        "title": "James Maslow",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-james.png",
                        "width": "300",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-james.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-red.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#d22641"
        }
    },
    {
        "id": "f1d5804e-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "logan-henderson",
        "type": "Person",
        "title": "Logan Henderson",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-logan.png",
                        "width": "300",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-logan.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-red.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#d22641"
        }
    },
    {
        "id": "f1d57784-57b6-11e1-9c48-0026b9414f30",
        "urlKey": "carlos-pena",
        "type": "Person",
        "title": "Carlos Pena",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-carlos.png",
                        "width": "300",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-carlos.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "From Big Time Rush",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-red.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#d22641"
        }
    },
    {
        "id": "9a5419c5-f28b-45d2-a042-770024dd74f6",
        "urlKey": "robotmonster",
        "type": "series",
        "title": "Monster",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-monster.png",
                        "width": "337",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-monster.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "From Robot & Monster",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-purple.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#472f91"
        }
    },
    {
        "id": "6ab9f64e-9b0e-11e1-a549-0026b9414f30",
        "urlKey": "cymphonique-miller",
        "type": "Person",
        "title": "Cymphonique Miller",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-cymphonique.png",
                        "width": "300",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-cymphonique.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "From How To Rock",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-blue.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#0081c6"
        }
    },
    {
        "id": "70d13aa7-a589-4c19-8ed5-f4cfa84b65af",
        "urlKey": "legend-of-korra",
        "type": "series",
        "title": "Korra",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-korra.png",
                        "width": "405",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-korra.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "From Legend of Korra",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-red.jpg",
                        "width": "1366",
                        "height": "768"
                    },
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-teal.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#37939b"
        }
    },
    {
        "id": "cb81db06-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs-pr-samurai",
        "type": "series",
        "title": "The Red Ranger",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-red-ranger.png",
                        "width": "350",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-red-ranger.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "from Power Rangers: Super Samurai",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-red.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#b7111b"
        }
    },
    {
        "id": "cb773e58-7a92-11e0-8fe5-0026b9414f30",
        "urlKey": "hs-winx-club",
        "type": "series",
        "title": "Bloom",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-bloom.png",
                        "width": "411",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-bloom.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "from Winx Club",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-pink.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#d40078"
        },
        "options": {
            "hasGames": "false"
        }
    },
    {
        "id": "23e4ccea-cda9-11e0-aca6-0026b9414f30",
        "urlKey": "kung-fu-panda-legends-of-awesomeness",
        "type": "series",
        "title": "Po",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-po.png",
                        "width": "370",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-po.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "from Kung Fu Panda: Legends of Awesomeness",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-red.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#c41230"
        }
    },
    {
        "id": "fdb6b108-e32f-11e1-a549-0026b9414f30",
        "urlKey": "noah-crawford",
        "type": "Person",
        "title": "Noah Crawford",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-noah.png",
                        "width": "300",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-noah.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "from How to Rock and You Gotta See This!",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-grey.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#ff8400"
        }
    },
    {
        "id": "561cd3ca-e32d-11e1-a549-0026b9414f30",
        "urlKey": "chris-oneal",
        "type": "Person",
        "title": "Chris O'Neal",
        "images": [
            {
                "type": "FullBody",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-carousel/star-chris.png",
                        "width": "300",
                        "height": "640"
                    }
                ]
            },
            {
                "type": "Thumbnail",
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/star-box/star-box-chris.jpg",
                        "width": "400",
                        "height": "225"
                    }
                ]
            }
        ],
        "description": "from How To Rock and You Gotta See This!",
        "theme": {
            "ThemeBackground": {
                "assets": [
                    {
                        "path": "/nick/app/win8/stars/backgrounds/background-grey.jpg",
                        "width": "1366",
                        "height": "768"
                    }
                ]
            },
            "AccentColor1": "#ff8400"
        }
    }
]


--
Video

##Query Parameters

-   **id** - id of the item to request
-   **urlKey** - urlKey of the item to request

##Response
  
-   **id** - unique identifier for this item
-   **urlKey** - unique within content type, used to request detailed info for this item
-   **title** - title of this item
-   **shortTitle** - short title of this item
-   **description** - description of this item
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **datePosted** - date that this item was posted
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **people** - list or url keys for the people associated to this item
-   **duration** - duration of this item (for video types only)
-   **videoType** - (*unset*|clip|preview|tunein) descriptive type for this video
-   **legacyId** - legacy video id for requesting media record
-   **relatedVideos** - list of related video ids
-   **rating** - rating for this video content
--

GET /video?id=1a197042-7a9a-11e0-8fe5-0026b9414f30
< 200
< Content-Type: application/json
{ 
    "id": "1a197042-7a9a-11e0-8fe5-0026b9414f30",
    "urlKey": "icarly-310-iomg-clip-4-sam-kiss-freddie-seddie",
    "title": "iCarly: \"iOMG: The Big OMG Moment\"",
    "shortTitle": "iOMG: The Big OMG Moment",
    "description": "Freddie encourages Sam to express her feelings and is left speechless by her response.",
    "images": [
        {
            "assets": [
                {
                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                    "aspectRatio": "16x9",
                    "width": "640",   
                    "height": "360"                             
                }                                
            ]
        }
    ],
    "datePosted": "",
    "seriesUrlKey": "hs-icarly",
    "seriesTitle": "iCarly",            
    "people": [
        "jennette-mccurdy-sidekick",
        "nathan-kress"
    ],
    "duration": "1:57",
    "videoType": "",
    "legacyId": "795796",
    "relatedVideos": [
        "videoid1",
        "videoid2"
    ],
    "rating": "TV-Y7"
}

--
Episode (WIP)

##Query Parameters

-   **id** - id of the item to request
-   **urlKey** - urlKey of the item to request

##Response
  
-   **id** - unique identifier for this item
-   **urlKey** - unique within content type, used to request detailed info for this item
-   **title** - title of this item
-   **shortTitle** - short title of this item
-   **description** - description of this item
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **datePosted** - date that this item was posted
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **people** - list or url keys for the people associated to this item
-   **duration** - duration of this item (for video types only)
-   **videoType** - (*unset*|clip|preview|tunein) descriptive type for this video
-   **relatedVideos** - list of related video ids
-   **rating** - rating for this video content
-   **season** - season this episode aired during
-   **episodeNumber** - number of this episode in the series
-   **expirationDate** - date that this content expires
-   **playlistId** - playlist id for this episode
--

GET /episode?id=11f4711a-4d56-4961-97f6-ee3fded0ed3a
< 200
< Content-Type: application/json
{ 
    "id": "11f4711a-4d56-4961-97f6-ee3fded0ed3a",
    "urlKey": "legend-of-korra-101-full-episode",
    "title": "Legend of Korra: \"Welcome to Republic City\"",
    "shortTitle": "Welcome to Republic City",
    "description": "Korra escapes to Republic City but she is met with trouble, will she make it out unscathed in the big city?",
    "images": [
        {
            "assets": [
                {
                    "path": "/nick-assets/video/images/korra/legend-of-korra-101-full-episode.jpg",
                    "aspectRatio": "16x9",
                    "width": "640",   
                    "height": "360"                             
                }                                
            ]
        }
    ],
    "datePosted": "2012-05-11T09:06:00.000+0000",
    "seriesUrlKey": "legend-of-korra",
    "seriesTitle": "Legend of Korra",            
    "people": [
    ],
    "duration": "0:00",
    "episodeType": "Episode",
    "relatedVideos": [
        "videoid1",
        "videoid2"
    ],
    "rating": "TV-Y7",
    "season": "1",
    "episodeNumber": "101",
    "expirationDate": "",
    "playlistId": "d80d69ac-9b17-11e1-a549-0026b9414f30"
}

--
Playlist

##Query Parameters

-   **id** - id of the item to request
-   **urlKey** - urlKey of the item to request

##Response
  
-   **id** - unique identifier for this item
-   **urlKey** - unique within content type, used to request detailed info for this item
-   **title** - title of this item
-   **shortTitle** - short title of this item
-   **description** - description of this item
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **datePosted** - date that this item was posted
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **people** - list or url keys for the people associated to this item
-   **duration** - duration of this item (for video types only)
-   **playlistType** - (*unset*|full episode (segmented)|editorial|episode highlights|full episode (unsegmented)|video collection) descriptive type for this playlist
-   **rating** - rating for this video content
--

GET /playlist?id=ec62c2a8-e4b9-4956-8061-d21ec54f4595
< 200
< Content-Type: application/json
{ 
    "id": "ec62c2a8-e4b9-4956-8061-d21ec54f4595",
    "urlKey": "spongebob-all-songs-mega-playlist",
    "title": "SpongeBob SquarePants: All Songs Mega Playlist!",
    "shortTitle": "All Songs Mega Playlist!",
    "description": "You will literally not be able to handle all of this music. Seriously.",
    "images": [
        {
            "assets": [
                {
                    "path": "/nick-assets/video/images/spongebob-squarepants/campfire-song.jpg",
                    "aspectRatio": "16x9",
                    "width": "640",   
                    "height": "360"                             
                }                                
            ]
        }
    ],
    "datePosted": "",
    "seriesUrlKey": "hs-spongebob",
    "seriesTitle": "SpongeBob SquarePants",            
    "people": [
    ],
    "duration": "0:00",
    "playlistType": "editorial",
    "rating": "TV-Y7"
}

--
Game

##Query Parameters

-   **id** - id of the item to request
-   **urlKey** - urlKey of the item to request

##Response
  
-   **id** - unique identifier for this item
-   **urlKey** - unique within content type, used to request detailed info for this item
-   **title** - title of this item
-   **shortTitle** - short title of this item
-   **description** - description of this item
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **controlType** - (touch|keyboard) type of controls that this game supports
-   **gameType** - (*unset*|action|adventure|funny|music|puzzle|race|racing|role playing|rumble|strategy) descriptive type for this game
-   **datePosted** - date that this item was posted
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **people** - list or url keys for the people associated to this item
--

GET /game?urlKey=spongebob-squarepants-skater-sponge
< 200
< Content-Type: application/json
{ 
    "id": "665534f3-ac94-4862-bcd4-74f347b8be83",
    "urlKey": "spongebob-squarepants-skater-sponge",
    "title": "SpongeBob SquarePants: Skater Sponge",
    "shortTitle": "Skater Sponge",
    "description": "He's just a Skater Sponge, what more can we say?",
    "images": [
        {
            "assets": [
                {
                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                    "aspectRatio": "16x9",
                    "width": "640",   
                    "height": "360"                             
                }                                
            ]
        }
    ],
    "controlType": "touch",
    "gameType": "",
    "datePosted": "",
    "seriesUrlKey": "hs-spongebob",
    "seriesTitle": "SpongeBob SquarePants",            
    "people": [
    ]
}

--
Photo Album

##Query Parameters

-   **id** - id of the item to request
-   **urlKey** - urlKey of the item to request

##Response
  
-   **id** - unique identifier for this item
-   **urlKey** - unique within content type, used to request detailed info for this item
-   **title** - title of this item
-   **shortTitle** - short title of this item
-   **description** - description of this item
-   **images** - list of images for this item
    -   **type** - string identifier to determine placement (e.g. thumbnail, featured)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
-   **datePosted** - date that this item was posted
-   **seriesUrlKey** - url key for the series this item is related to
-   **seriesTitle** - title of the series this item is related to
-   **people** - list or url keys for the people associated to this item
-   **photoCount** - number of photos in this album  
-   **photos** - photos in this set
    -   **image** - image for this photo
    -   **type** - string identifier to determine placement (e.g. photo)
    -   **assets** - list of assets for this image in varying aspect ratios
        -   **path** - path to this image
        -   **aspectRatio** - aspect ratio of this image
        -   **width** - width of this image in pixels
        -   **height** - height of this image in pixels
    -   **shortTitle** - shortTitle for this photo
    -   **caption** - caption for this photo
--

GET /photoAlbum?urlKey=spongebob-roadtrip-postcards-pictures
< 200
< Content-Type: application/json
{ 
    "id": "ov2kou",
    "urlKey": "spongebob-roadtrip-postcards-pictures",
    "title": "SpongeBob SquarePants: Road Trip Postcards",
    "shortTitle": "Road Trip Postcards",
    "description": "SpongeBob, Patrick, Plankton, Sandy & Mr. Krabs check in from the road with personalized postcards!",
    "images": [
        {
            "assets": [
                {
                    "path": "/nick-assets/video/images/spongebob-squarepants/spongebob-164-barnacle-face-the-zit-doesnt-quit-clip.jpg",
                    "aspectRatio": "16x9",
                    "width": "640",   
                    "height": "360"                             
                }                                
            ]
        }
    ],
    "datePosted": "",
    "seriesUrlKey": "hs-spongebob",
    "seriesTitle": "SpongeBob SquarePants",            
    "people": [
    ],
    "photoCount": 10,
    "photos": [
        {
            "image": 
            {
                "assets": [
                    {
                        "path": "/spongebob-assets/tentpoles/Roadtrip/road-trip-postcards/01b.jpg",
                        "aspectRatio": "4x3",
                        "width": "640",   
                        "height": "360"                             
                    }                                
                ]
            },
            "caption": ""
        },
        {
            "image": 
            {
                "assets": [
                    {
                        "path": "/spongebob-assets/tentpoles/Roadtrip/road-trip-postcards/02b.jpg",
                        "aspectRatio": "4x3",
                        "width": "640",   
                        "height": "360"                             
                    }                                
                ]
            },
            "caption": ""
        },
        {
            "image": 
            {
                "assets": [
                    {
                        "path": "/spongebob-assets/tentpoles/Roadtrip/road-trip-postcards/03b.jpg",
                        "aspectRatio": "4x3",
                        "width": "640",   
                        "height": "360"                             
                    }                                
                ]
            },
            "caption": ""
        },
        {
            "image": 
            {
                "assets": [
                    {
                        "path": "/spongebob-assets/tentpoles/Roadtrip/road-trip-postcards/04b.jpg",
                        "aspectRatio": "4x3",
                        "width": "640",   
                        "height": "360"                             
                    }                                
                ]
            },
            "caption": ""
        },
        {
            "image": 
            {
                "assets": [
                    {
                        "path": "/spongebob-assets/tentpoles/Roadtrip/road-trip-postcards/05b.jpg",
                        "aspectRatio": "4x3",
                        "width": "640",   
                        "height": "360"                             
                    }                                
                ]
            },
            "caption": ""
        },
        {
            "image": 
            {
                "assets": [
                    {
                        "path": "/spongebob-assets/tentpoles/Roadtrip/road-trip-postcards/06b.jpg",
                        "aspectRatio": "4x3",
                        "width": "640",   
                        "height": "360"                             
                    }                                
                ]
            },
            "caption": ""
        },
        {
            "image": 
            {
                "assets": [
                    {
                        "path": "/spongebob-assets/tentpoles/Roadtrip/road-trip-postcards/07b.jpg",
                        "aspectRatio": "4x3",
                        "width": "640",   
                        "height": "360"                             
                    }                                
                ]
            },
            "caption": ""
        },
        {
            "image": 
            {
                "assets": [
                    {
                        "path": "/spongebob-assets/tentpoles/Roadtrip/road-trip-postcards/08b.jpg",
                        "aspectRatio": "4x3",
                        "width": "640",   
                        "height": "360"                             
                    }                                
                ]
            },
            "caption": ""
        },
        {
            "image": 
            {
                "assets": [
                    {
[...]
